In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
from functools import reduce

## Datasets de temperaturas medias diarias año 2021

In [49]:
df_temp_ene =pd.read_csv('C:/Users/rfg2m/Documents/DATA_SCIENCE/Entregas/Proyectos/MACHINE LEARNING/Data/raw/Data_21/temp_ene_21.csv', sep=';', encoding='utf-8')
df_temp_ene.head()

        Fecha           Magnitud      Zona       Estación Valor
0  2021-01-01  Temperatura media  Noroeste  Casa de Campo   3,6
1  2021-01-02  Temperatura media  Noroeste  Casa de Campo   1,7
2  2021-01-03  Temperatura media  Noroeste  Casa de Campo   1,5
3  2021-01-04  Temperatura media  Noroeste  Casa de Campo   2,5
4  2021-01-05  Temperatura media  Noroeste  Casa de Campo   0,1

In [50]:
df_temp_ene.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     31 non-null     object
 1   Magnitud  31 non-null     object
 2   Zona      31 non-null     object
 3   Estación  31 non-null     object
 4   Valor     31 non-null     object
dtypes: object(5)
memory usage: 1.3+ KB

In [51]:
df_temp_ene['Fecha'] = pd.to_datetime(df_temp_ene['Fecha'])
df_temp_ene.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     31 non-null     datetime64[ns]
 1   Magnitud  31 non-null     object
 2   Zona      31 non-null     object
 3   Estación  31 non-null     object
 4   Valor     31 non-null     object
dtypes: datetime64[ns](1), object(4)
memory usage: 1.3+ KB

In [52]:
df_temp_ene['Valor'] = df_temp_ene['Valor'].str.replace(',', '.') #Reemplazar comas por puntos
df_temp_ene['Valor'] = df_temp_ene['Valor'].str.replace(r'[^\d\.]', '', regex=True) #Eliminar caracteres no numéricos, exepto el punto 
df_temp_ene.head()

       Fecha           Magnitud      Zona       Estación Valor
0 2021-01-01  Temperatura media  Noroeste  Casa de Campo   3.6
1 2021-01-02  Temperatura media  Noroeste  Casa de Campo   1.7
2 2021-01-03  Temperatura media  Noroeste  Casa de Campo   1.5
3 2021-01-04  Temperatura media  Noroeste  Casa de Campo   2.5
4 2021-01-05  Temperatura media  Noroeste  Casa de Campo   0.1

In [53]:
df_temp_ene['Valor'] = pd.to_numeric(df_temp_ene['Valor'], errors='coerce')
df_temp_ene.head()

       Fecha           Magnitud      Zona       Estación  Valor
0 2021-01-01  Temperatura media  Noroeste  Casa de Campo    3.6
1 2021-01-02  Temperatura media  Noroeste  Casa de Campo    1.7
2 2021-01-03  Temperatura media  Noroeste  Casa de Campo    1.5
3 2021-01-04  Temperatura media  Noroeste  Casa de Campo    2.5
4 2021-01-05  Temperatura media  Noroeste  Casa de Campo    0.1

In [54]:
df_temp_ene.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     31 non-null     datetime64[ns]
 1   Magnitud  31 non-null     object
 2   Zona      31 non-null     object
 3   Estación  31 non-null     object
 4   Valor     31 non-null     float64
dtypes: datetime64[ns](1), float64(1), object(3)
memory usage: 1.3+ KB

In [55]:
df_temp_feb =pd.read_csv('C:/Users/rfg2m/Documents/DATA_SCIENCE/Entregas/Proyectos/MACHINE LEARNING/Data/raw/Data_21/temp_feb_21.csv',sep=';', encoding='utf-8')
df_temp_feb.head()

        Fecha           Magnitud      Zona       Estación Valor
0  2021-02-01  Temperatura media  Noroeste  Casa de Campo  11,3
1  2021-02-02  Temperatura media  Noroeste  Casa de Campo   9,8
2  2021-02-03  Temperatura media  Noroeste  Casa de Campo  10,0
3  2021-02-04  Temperatura media  Noroeste  Casa de Campo  10,7
4  2021-02-05  Temperatura media  Noroeste  Casa de Campo  11,7

In [56]:
df_temp_feb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28 entries, 0 to 27
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     28 non-null     object
 1   Magnitud  28 non-null     object
 2   Zona      28 non-null     object
 3   Estación  28 non-null     object
 4   Valor     27 non-null     object
dtypes: object(5)
memory usage: 1.2+ KB

In [57]:
df_temp_feb['Fecha'] = pd.to_datetime(df_temp_feb['Fecha'])
df_temp_feb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28 entries, 0 to 27
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     28 non-null     datetime64[ns]
 1   Magnitud  28 non-null     object
 2   Zona      28 non-null     object
 3   Estación  28 non-null     object
 4   Valor     27 non-null     object
dtypes: datetime64[ns](1), object(4)
memory usage: 1.2+ KB

In [58]:
df_temp_feb['Valor'] = df_temp_feb['Valor'].str.replace(',', '.') #Reemplazar comas por puntos
df_temp_feb['Valor'] = df_temp_feb['Valor'].str.replace(r'[^\d\.]', '', regex=True) #Eliminar caracteres no numéricos, exepto el punto 
df_temp_feb.head()

       Fecha           Magnitud      Zona       Estación Valor
0 2021-02-01  Temperatura media  Noroeste  Casa de Campo  11.3
1 2021-02-02  Temperatura media  Noroeste  Casa de Campo   9.8
2 2021-02-03  Temperatura media  Noroeste  Casa de Campo  10.0
3 2021-02-04  Temperatura media  Noroeste  Casa de Campo  10.7
4 2021-02-05  Temperatura media  Noroeste  Casa de Campo  11.7

In [59]:
df_temp_feb['Valor'] = pd.to_numeric(df_temp_feb['Valor'], errors='coerce')

In [60]:
df_nulos = df_temp_feb[df_temp_feb.isnull().any(axis=1)]
print(df_nulos)

       Fecha           Magnitud      Zona       Estación  Valor
9 2021-02-10  Temperatura media  Noroeste  Casa de Campo    NaN

In [61]:
print(df_temp_feb.isnull().sum())

Fecha       0
Magnitud    0
Zona        0
Estación    0
Valor       1
dtype: int64

In [62]:
#Rellenar los valores nulos de la columna 'Valor', utilizando el método Backward Fill(bfill), pues la temperatura sigue un patrón creciente.
#Al elegir la temperatura más alta a los valores nulos, mantiene una progresión ascendente más natural
#Si eligiera la temperatura más baja  a los valores nulos(ffill), podría generar un sesgo a la baja.

df_temp_feb['Valor'] = df_temp_feb['Valor'].bfill()
df_temp_feb.head(10)

       Fecha           Magnitud      Zona       Estación  Valor
0 2021-02-01  Temperatura media  Noroeste  Casa de Campo   11.3
1 2021-02-02  Temperatura media  Noroeste  Casa de Campo    9.8
2 2021-02-03  Temperatura media  Noroeste  Casa de Campo   10.0
3 2021-02-04  Temperatura media  Noroeste  Casa de Campo   10.7
4 2021-02-05  Temperatura media  Noroeste  Casa de Campo   11.7
5 2021-02-06  Temperatura media  Noroeste  Casa de Campo    8.7
6 2021-02-07  Temperatura media  Noroeste  Casa de Campo    6.9
7 2021-02-08  Temperatura media  Noroeste  Casa de Campo    7.1
8 2021-02-09  Temperatura media  Noroeste  Casa de Campo    5.7
9 2021-02-10  Temperatura media  Noroeste  Casa de Campo   11.4

In [ ]:
df_nulos = df_temp_feb[df_temp_feb.isnull().any(axis=1)]
print(df_nulos)

Empty DataFrame
Columns: [Fecha, Magnitud, Zona, Estación, Valor]
Index: []

In [63]:
df_temp_feb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28 entries, 0 to 27
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     28 non-null     datetime64[ns]
 1   Magnitud  28 non-null     object
 2   Zona      28 non-null     object
 3   Estación  28 non-null     object
 4   Valor     28 non-null     float64
dtypes: datetime64[ns](1), float64(1), object(3)
memory usage: 1.2+ KB

In [64]:
df_temp_mar =pd.read_csv('C:/Users/rfg2m/Documents/DATA_SCIENCE/Entregas/Proyectos/MACHINE LEARNING/Data/raw/Data_21/temp_mar_21.csv',sep=';', encoding='utf-8')
df_temp_mar.head()

        Fecha           Magnitud      Zona       Estación Valor
0  2021-03-01  Temperatura media  Noroeste  Casa de Campo   8,5
1  2021-03-02  Temperatura media  Noroeste  Casa de Campo  11,0
2  2021-03-03  Temperatura media  Noroeste  Casa de Campo  11,1
3  2021-03-04  Temperatura media  Noroeste  Casa de Campo   8,6
4  2021-03-05  Temperatura media  Noroeste  Casa de Campo   9,7

In [65]:
df_temp_mar.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     31 non-null     object
 1   Magnitud  31 non-null     object
 2   Zona      31 non-null     object
 3   Estación  31 non-null     object
 4   Valor     31 non-null     object
dtypes: object(5)
memory usage: 1.3+ KB

In [66]:
df_temp_mar['Fecha'] = pd.to_datetime(df_temp_mar['Fecha'])
df_temp_mar.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     31 non-null     datetime64[ns]
 1   Magnitud  31 non-null     object
 2   Zona      31 non-null     object
 3   Estación  31 non-null     object
 4   Valor     31 non-null     object
dtypes: datetime64[ns](1), object(4)
memory usage: 1.3+ KB

In [67]:
df_temp_mar['Valor'] = df_temp_mar['Valor'].str.replace(',', '.') #Reemplazar comas por puntos
df_temp_mar['Valor'] = df_temp_mar['Valor'].str.replace(r'[^\d\.]', '', regex=True) #Eliminar caracteres no numéricos, exepto el punto 
df_temp_mar.head()

       Fecha           Magnitud      Zona       Estación Valor
0 2021-03-01  Temperatura media  Noroeste  Casa de Campo   8.5
1 2021-03-02  Temperatura media  Noroeste  Casa de Campo  11.0
2 2021-03-03  Temperatura media  Noroeste  Casa de Campo  11.1
3 2021-03-04  Temperatura media  Noroeste  Casa de Campo   8.6
4 2021-03-05  Temperatura media  Noroeste  Casa de Campo   9.7

In [68]:
df_temp_mar['Valor'] = pd.to_numeric(df_temp_mar['Valor'], errors='coerce')

In [69]:
df_temp_mar.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     31 non-null     datetime64[ns]
 1   Magnitud  31 non-null     object
 2   Zona      31 non-null     object
 3   Estación  31 non-null     object
 4   Valor     31 non-null     float64
dtypes: datetime64[ns](1), float64(1), object(3)
memory usage: 1.3+ KB

In [70]:
df_temp_abr =pd.read_csv('C:/Users/rfg2m/Documents/DATA_SCIENCE/Entregas/Proyectos/MACHINE LEARNING/Data/raw/Data_21/temp_abr_21.csv',sep=';', encoding='utf-8')
df_temp_abr.head()

        Fecha           Magnitud      Zona       Estación Valor
0  2021-04-01  Temperatura media  Noroeste  Casa de Campo  16,3
1  2021-04-02  Temperatura media  Noroeste  Casa de Campo  12,9
2  2021-04-03  Temperatura media  Noroeste  Casa de Campo  12,5
3  2021-04-04  Temperatura media  Noroeste  Casa de Campo  13,2
4  2021-04-05  Temperatura media  Noroeste  Casa de Campo  14,3

In [71]:
df_temp_abr['Fecha'] = pd.to_datetime(df_temp_abr['Fecha'])
df_temp_abr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     30 non-null     datetime64[ns]
 1   Magnitud  30 non-null     object
 2   Zona      30 non-null     object
 3   Estación  30 non-null     object
 4   Valor     30 non-null     object
dtypes: datetime64[ns](1), object(4)
memory usage: 1.3+ KB

In [72]:
df_temp_abr['Valor'] = df_temp_abr['Valor'].str.replace(',', '.') #Reemplazar comas por puntos
df_temp_abr['Valor'] = df_temp_abr['Valor'].str.replace(r'[^\d\.]', '', regex=True) #Eliminar caracteres no numéricos, exepto el punto 
df_temp_abr.head()

       Fecha           Magnitud      Zona       Estación Valor
0 2021-04-01  Temperatura media  Noroeste  Casa de Campo  16.3
1 2021-04-02  Temperatura media  Noroeste  Casa de Campo  12.9
2 2021-04-03  Temperatura media  Noroeste  Casa de Campo  12.5
3 2021-04-04  Temperatura media  Noroeste  Casa de Campo  13.2
4 2021-04-05  Temperatura media  Noroeste  Casa de Campo  14.3

In [73]:
df_temp_abr['Valor'] = pd.to_numeric(df_temp_abr['Valor'], errors='coerce')

In [74]:
df_temp_abr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     30 non-null     datetime64[ns]
 1   Magnitud  30 non-null     object
 2   Zona      30 non-null     object
 3   Estación  30 non-null     object
 4   Valor     30 non-null     float64
dtypes: datetime64[ns](1), float64(1), object(3)
memory usage: 1.3+ KB

In [75]:
df_temp_may =pd.read_csv('C:/Users/rfg2m/Documents/DATA_SCIENCE/Entregas/Proyectos/MACHINE LEARNING/Data/raw/Data_21/temp_may_21.csv',sep=';', encoding='utf-8')
df_temp_may.head()

        Fecha           Magnitud      Zona       Estación Valor
0  2021-05-01  Temperatura media  Noroeste  Casa de Campo  11,4
1  2021-05-02  Temperatura media  Noroeste  Casa de Campo  12,9
2  2021-05-03  Temperatura media  Noroeste  Casa de Campo  13,1
3  2021-05-04  Temperatura media  Noroeste  Casa de Campo  15,0
4  2021-05-05  Temperatura media  Noroeste  Casa de Campo  17,3

In [76]:
df_temp_may.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     31 non-null     object
 1   Magnitud  31 non-null     object
 2   Zona      31 non-null     object
 3   Estación  31 non-null     object
 4   Valor     31 non-null     object
dtypes: object(5)
memory usage: 1.3+ KB

In [77]:
df_temp_may['Fecha'] = pd.to_datetime(df_temp_may['Fecha'])
df_temp_may.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     31 non-null     datetime64[ns]
 1   Magnitud  31 non-null     object
 2   Zona      31 non-null     object
 3   Estación  31 non-null     object
 4   Valor     31 non-null     object
dtypes: datetime64[ns](1), object(4)
memory usage: 1.3+ KB

In [78]:
df_temp_may['Valor'] = df_temp_may['Valor'].str.replace(',', '.') #Reemplazar comas por puntos
df_temp_may['Valor'] = df_temp_may['Valor'].str.replace(r'[^\d\.]', '', regex=True) #Eliminar caracteres no numéricos, exepto el punto 
df_temp_may.head()

       Fecha           Magnitud      Zona       Estación Valor
0 2021-05-01  Temperatura media  Noroeste  Casa de Campo  11.4
1 2021-05-02  Temperatura media  Noroeste  Casa de Campo  12.9
2 2021-05-03  Temperatura media  Noroeste  Casa de Campo  13.1
3 2021-05-04  Temperatura media  Noroeste  Casa de Campo  15.0
4 2021-05-05  Temperatura media  Noroeste  Casa de Campo  17.3

In [79]:
df_temp_may['Valor'] = pd.to_numeric(df_temp_may['Valor'], errors='coerce')

In [80]:
df_temp_may.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     31 non-null     datetime64[ns]
 1   Magnitud  31 non-null     object
 2   Zona      31 non-null     object
 3   Estación  31 non-null     object
 4   Valor     31 non-null     float64
dtypes: datetime64[ns](1), float64(1), object(3)
memory usage: 1.3+ KB

In [81]:
df_temp_jun =pd.read_csv('C:/Users/rfg2m/Documents/DATA_SCIENCE/Entregas/Proyectos/MACHINE LEARNING/Data/raw/Data_21/temp_jun_21.csv',sep=';', encoding='utf-8')
df_temp_jun.head()

        Fecha           Magnitud      Zona       Estación Valor
0  2021-06-01  Temperatura media  Noroeste  Casa de Campo  19,4
1  2021-06-02  Temperatura media  Noroeste  Casa de Campo  19,7
2  2021-06-03  Temperatura media  Noroeste  Casa de Campo  22,5
3  2021-06-04  Temperatura media  Noroeste  Casa de Campo  22,4
4  2021-06-05  Temperatura media  Noroeste  Casa de Campo  18,5

In [82]:
df_temp_jun.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     30 non-null     object
 1   Magnitud  30 non-null     object
 2   Zona      30 non-null     object
 3   Estación  30 non-null     object
 4   Valor     23 non-null     object
dtypes: object(5)
memory usage: 1.3+ KB

In [83]:
df_temp_jun['Fecha'] = pd.to_datetime(df_temp_jun['Fecha'])
df_temp_jun.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     30 non-null     datetime64[ns]
 1   Magnitud  30 non-null     object
 2   Zona      30 non-null     object
 3   Estación  30 non-null     object
 4   Valor     23 non-null     object
dtypes: datetime64[ns](1), object(4)
memory usage: 1.3+ KB

In [84]:
df_temp_jun['Valor'] = df_temp_jun['Valor'].str.replace(',', '.') #Reemplazar comas por puntos
df_temp_jun['Valor'] = df_temp_jun['Valor'].str.replace(r'[^\d\.]', '', regex=True) #Eliminar caracteres no numéricos, exepto el punto 
df_temp_jun.head()

       Fecha           Magnitud      Zona       Estación Valor
0 2021-06-01  Temperatura media  Noroeste  Casa de Campo  19.4
1 2021-06-02  Temperatura media  Noroeste  Casa de Campo  19.7
2 2021-06-03  Temperatura media  Noroeste  Casa de Campo  22.5
3 2021-06-04  Temperatura media  Noroeste  Casa de Campo  22.4
4 2021-06-05  Temperatura media  Noroeste  Casa de Campo  18.5

In [85]:
df_temp_jun['Valor'] = pd.to_numeric(df_temp_jun['Valor'], errors='coerce')

In [86]:
df_nulos = df_temp_jun[df_temp_jun.isnull().any(axis=1)]
print(df_nulos)

        Fecha           Magnitud      Zona       Estación  Valor
23 2021-06-24  Temperatura media  Noroeste  Casa de Campo    NaN
24 2021-06-25  Temperatura media  Noroeste  Casa de Campo    NaN
25 2021-06-26  Temperatura media  Noroeste  Casa de Campo    NaN
26 2021-06-27  Temperatura media  Noroeste  Casa de Campo    NaN
27 2021-06-28  Temperatura media  Noroeste  Casa de Campo    NaN
28 2021-06-29  Temperatura media  Noroeste  Casa de Campo    NaN
29 2021-06-30  Temperatura media  Noroeste  Casa de Campo    NaN

In [87]:
print(df_temp_jun.isnull().sum())

Fecha       0
Magnitud    0
Zona        0
Estación    0
Valor       7
dtype: int64

In [88]:
df_temp_jun['Valor'] = df_temp_jun['Valor'].fillna(df_temp_jun['Valor'].mean())
df_temp_jun.head(30)

        Fecha           Magnitud      Zona       Estación  Valor
0  2021-06-01  Temperatura media  Noroeste  Casa de Campo   19.4
1  2021-06-02  Temperatura media  Noroeste  Casa de Campo   19.7
2  2021-06-03  Temperatura media  Noroeste  Casa de Campo   22.5
3  2021-06-04  Temperatura media  Noroeste  Casa de Campo   22.4
4  2021-06-05  Temperatura media  Noroeste  Casa de Campo   18.5
5  2021-06-06  Temperatura media  Noroeste  Casa de Campo   21.2
6  2021-06-07  Temperatura media  Noroeste  Casa de Campo   24.6
7  2021-06-08  Temperatura media  Noroeste  Casa de Campo   26.0
8  2021-06-09  Temperatura media  Noroeste  Casa de Campo   26.4
9  2021-06-10  Temperatura media  Noroeste  Casa de Campo   27.1
10 2021-06-11  Temperatura media  Noroeste  Casa de Campo   25.3
11 2021-06-12  Temperatura media  Noroeste  Casa de Campo   23.8
12 2021-06-13  Temperatura media  Noroeste  Casa de Campo   25.0
13 2021-06-14  Temperatura media  Noroeste  Casa de Campo   26.8
14 2021-06-15  Temperatura media  Noroeste  Casa de Campo   27.0
15 2021-06-16  Temperatura media  Noroeste  Casa de Campo   25.2
16 2021-06-17  Temperatura media  Noroeste  Casa de Campo   17.8
17 2021-06-18  Temperatura media  Noroeste  Casa de Campo   18.8
18 2021-06-19  Temperatura media  Noroeste  Casa de Campo   18.4
19 2021-06-20  Temperatura media  Noroeste  Casa de Campo   16.2
20 2021-06-21  Temperatura media  Noroeste  Casa de Campo   16.9
21 2021-06-22  Temperatura media  Noroeste  Casa de Campo   17.0
22 2021-06-23  Temperatura media  Noroeste  Casa de Campo   15.4
23 2021-06-24  Temperatura media  Noroeste  Casa de Campo   21.8
24 2021-06-25  Temperatura media  Noroeste  Casa de Campo   21.8
25 2021-06-26  Temperatura media  Noroeste  Casa de Campo   21.8
26 2021-06-27  Temperatura media  Noroeste  Casa de Campo   21.8
27 2021-06-28  Temperatura media  Noroeste  Casa de Campo   21.8
28 2021-06-29  Temperatura media  Noroeste  Casa de Campo   21.8
29 2021-06-30  Temperatura media  Noroeste  Casa de Campo   21.8

In [89]:
df_temp_jun.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     30 non-null     datetime64[ns]
 1   Magnitud  30 non-null     object
 2   Zona      30 non-null     object
 3   Estación  30 non-null     object
 4   Valor     30 non-null     float64
dtypes: datetime64[ns](1), float64(1), object(3)
memory usage: 1.3+ KB

In [90]:
df_temp_jul =pd.read_csv('C:/Users/rfg2m/Documents/DATA_SCIENCE/Entregas/Proyectos/MACHINE LEARNING/Data/raw/Data_21/temp_jul_21.csv',sep=';', encoding='utf-8')
df_temp_jul.head()

        Fecha           Magnitud      Zona       Estación Valor
0  2021-07-01  Temperatura media  Noroeste  Casa de Campo  30,3
1  2021-07-02  Temperatura media  Noroeste  Casa de Campo  26,1
2  2021-07-03  Temperatura media  Noroeste  Casa de Campo  25,7
3  2021-07-04  Temperatura media  Noroeste  Casa de Campo  25,1
4  2021-07-05  Temperatura media  Noroeste  Casa de Campo  26,2

In [91]:
df_temp_jul['Fecha'] = pd.to_datetime(df_temp_jul['Fecha'])
df_temp_jul.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     31 non-null     datetime64[ns]
 1   Magnitud  31 non-null     object
 2   Zona      31 non-null     object
 3   Estación  31 non-null     object
 4   Valor     30 non-null     object
dtypes: datetime64[ns](1), object(4)
memory usage: 1.3+ KB

In [92]:
df_temp_jul['Valor'] = df_temp_jul['Valor'].str.replace(',', '.') #Reemplazar comas por puntos
df_temp_jul['Valor'] = df_temp_jul['Valor'].str.replace(r'[^\d\.]', '', regex=True) #Eliminar caracteres no numéricos, exepto el punto 
df_temp_jul.head()

       Fecha           Magnitud      Zona       Estación Valor
0 2021-07-01  Temperatura media  Noroeste  Casa de Campo  30.3
1 2021-07-02  Temperatura media  Noroeste  Casa de Campo  26.1
2 2021-07-03  Temperatura media  Noroeste  Casa de Campo  25.7
3 2021-07-04  Temperatura media  Noroeste  Casa de Campo  25.1
4 2021-07-05  Temperatura media  Noroeste  Casa de Campo  26.2

In [93]:
df_temp_jul['Valor'] = pd.to_numeric(df_temp_jul['Valor'], errors='coerce')

In [94]:
df_nulos = df_temp_jul[df_temp_jul.isnull().any(axis=1)]
print(df_nulos)

        Fecha           Magnitud      Zona       Estación  Valor
10 2021-07-11  Temperatura media  Noroeste  Casa de Campo    NaN

In [95]:
df_temp_jul['Valor'] = df_temp_jul['Valor'].mean()
df_temp_jul.head()

       Fecha           Magnitud      Zona       Estación      Valor
0 2021-07-01  Temperatura media  Noroeste  Casa de Campo  25.533333
1 2021-07-02  Temperatura media  Noroeste  Casa de Campo  25.533333
2 2021-07-03  Temperatura media  Noroeste  Casa de Campo  25.533333
3 2021-07-04  Temperatura media  Noroeste  Casa de Campo  25.533333
4 2021-07-05  Temperatura media  Noroeste  Casa de Campo  25.533333

In [96]:
df_temp_jul.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     31 non-null     datetime64[ns]
 1   Magnitud  31 non-null     object
 2   Zona      31 non-null     object
 3   Estación  31 non-null     object
 4   Valor     31 non-null     float64
dtypes: datetime64[ns](1), float64(1), object(3)
memory usage: 1.3+ KB

In [97]:
df_temp_ago =pd.read_csv('C:/Users/rfg2m/Documents/DATA_SCIENCE/Entregas/Proyectos/MACHINE LEARNING/Data/raw/Data_21/temp_ago_21.csv',sep=';', encoding='utf-8')
df_temp_ago.head()

        Fecha           Magnitud      Zona       Estación Valor
0  2021-08-01  Temperatura media  Noroeste  Casa de Campo  20,4
1  2021-08-02  Temperatura media  Noroeste  Casa de Campo  22,8
2  2021-08-03  Temperatura media  Noroeste  Casa de Campo  24,3
3  2021-08-04  Temperatura media  Noroeste  Casa de Campo  26,0
4  2021-08-05  Temperatura media  Noroeste  Casa de Campo  27,3

In [98]:
df_temp_ago.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     31 non-null     object
 1   Magnitud  31 non-null     object
 2   Zona      31 non-null     object
 3   Estación  31 non-null     object
 4   Valor     31 non-null     object
dtypes: object(5)
memory usage: 1.3+ KB

In [99]:
df_temp_ago['Fecha'] = pd.to_datetime(df_temp_ago['Fecha'])
df_temp_ago.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     31 non-null     datetime64[ns]
 1   Magnitud  31 non-null     object
 2   Zona      31 non-null     object
 3   Estación  31 non-null     object
 4   Valor     31 non-null     object
dtypes: datetime64[ns](1), object(4)
memory usage: 1.3+ KB

In [100]:
df_temp_ago['Valor'] = df_temp_ago['Valor'].str.replace(',', '.') #Reemplazar comas por puntos
df_temp_ago['Valor'] = df_temp_ago['Valor'].str.replace(r'[^\d\.]', '', regex=True) #Eliminar caracteres no numéricos, exepto el punto 
df_temp_ago.head()

       Fecha           Magnitud      Zona       Estación Valor
0 2021-08-01  Temperatura media  Noroeste  Casa de Campo  20.4
1 2021-08-02  Temperatura media  Noroeste  Casa de Campo  22.8
2 2021-08-03  Temperatura media  Noroeste  Casa de Campo  24.3
3 2021-08-04  Temperatura media  Noroeste  Casa de Campo  26.0
4 2021-08-05  Temperatura media  Noroeste  Casa de Campo  27.3

In [101]:
df_temp_ago['Valor'] = pd.to_numeric(df_temp_ago['Valor'], errors='coerce')

In [102]:
df_temp_ago.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     31 non-null     datetime64[ns]
 1   Magnitud  31 non-null     object
 2   Zona      31 non-null     object
 3   Estación  31 non-null     object
 4   Valor     31 non-null     float64
dtypes: datetime64[ns](1), float64(1), object(3)
memory usage: 1.3+ KB

In [103]:
df_temp_sep =pd.read_csv('C:/Users/rfg2m/Documents/DATA_SCIENCE/Entregas/Proyectos/MACHINE LEARNING/Data/raw/Data_21/temp_sep_21.csv',sep=';', encoding='utf-8')
df_temp_sep.head()

        Fecha           Magnitud      Zona       Estación Valor
0  2021-09-01  Temperatura media  Noroeste  Casa de Campo  19,4
1  2021-09-02  Temperatura media  Noroeste  Casa de Campo  19,0
2  2021-09-03  Temperatura media  Noroeste  Casa de Campo  21,5
3  2021-09-04  Temperatura media  Noroeste  Casa de Campo  23,0
4  2021-09-05  Temperatura media  Noroeste  Casa de Campo  24,3

In [104]:
df_temp_sep.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     30 non-null     object
 1   Magnitud  30 non-null     object
 2   Zona      30 non-null     object
 3   Estación  30 non-null     object
 4   Valor     30 non-null     object
dtypes: object(5)
memory usage: 1.3+ KB

In [105]:
df_temp_sep["Fecha"] = pd.to_datetime(df_temp_sep["Fecha"])
df_temp_sep.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     30 non-null     datetime64[ns]
 1   Magnitud  30 non-null     object
 2   Zona      30 non-null     object
 3   Estación  30 non-null     object
 4   Valor     30 non-null     object
dtypes: datetime64[ns](1), object(4)
memory usage: 1.3+ KB

In [106]:
df_temp_sep['Valor'] = df_temp_sep['Valor'].str.replace(',', '.') #Reemplazar comas por puntos
df_temp_sep['Valor'] = df_temp_sep['Valor'].str.replace(r'[^\d\.]', '', regex=True) #Eliminar caracteres no numéricos, exepto el punto 
df_temp_sep.head()

       Fecha           Magnitud      Zona       Estación Valor
0 2021-09-01  Temperatura media  Noroeste  Casa de Campo  19.4
1 2021-09-02  Temperatura media  Noroeste  Casa de Campo  19.0
2 2021-09-03  Temperatura media  Noroeste  Casa de Campo  21.5
3 2021-09-04  Temperatura media  Noroeste  Casa de Campo  23.0
4 2021-09-05  Temperatura media  Noroeste  Casa de Campo  24.3

In [107]:
df_temp_sep['Valor'] = pd.to_numeric(df_temp_sep['Valor'], errors='coerce')

In [108]:
df_temp_sep.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     30 non-null     datetime64[ns]
 1   Magnitud  30 non-null     object
 2   Zona      30 non-null     object
 3   Estación  30 non-null     object
 4   Valor     30 non-null     float64
dtypes: datetime64[ns](1), float64(1), object(3)
memory usage: 1.3+ KB

In [109]:
df_temp_oct =pd.read_csv('C:/Users/rfg2m/Documents/DATA_SCIENCE/Entregas/Proyectos/MACHINE LEARNING/Data/raw/Data_21/temp_oct_21.csv',sep=';', encoding='utf-8')
df_temp_oct.head()

        Fecha           Magnitud      Zona       Estación Valor
0  2021-10-01  Temperatura media  Noroeste  Casa de Campo  18,1
1  2021-10-02  Temperatura media  Noroeste  Casa de Campo  18,0
2  2021-10-03  Temperatura media  Noroeste  Casa de Campo  15,4
3  2021-10-04  Temperatura media  Noroeste  Casa de Campo  13,1
4  2021-10-05  Temperatura media  Noroeste  Casa de Campo  16,3

In [110]:
df_temp_oct.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     31 non-null     object
 1   Magnitud  31 non-null     object
 2   Zona      31 non-null     object
 3   Estación  31 non-null     object
 4   Valor     31 non-null     object
dtypes: object(5)
memory usage: 1.3+ KB

In [111]:
df_temp_oct["Fecha"] = pd.to_datetime(df_temp_oct["Fecha"])
df_temp_oct.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     31 non-null     datetime64[ns]
 1   Magnitud  31 non-null     object
 2   Zona      31 non-null     object
 3   Estación  31 non-null     object
 4   Valor     31 non-null     object
dtypes: datetime64[ns](1), object(4)
memory usage: 1.3+ KB

In [112]:
df_temp_oct['Valor'] = df_temp_oct['Valor'].str.replace(',', '.') #Reemplazar comas por puntos
df_temp_oct['Valor'] = df_temp_oct['Valor'].str.replace(r'[^\d\.]', '', regex=True) #Eliminar caracteres no numéricos, exepto el punto 
df_temp_oct.head()

       Fecha           Magnitud      Zona       Estación Valor
0 2021-10-01  Temperatura media  Noroeste  Casa de Campo  18.1
1 2021-10-02  Temperatura media  Noroeste  Casa de Campo  18.0
2 2021-10-03  Temperatura media  Noroeste  Casa de Campo  15.4
3 2021-10-04  Temperatura media  Noroeste  Casa de Campo  13.1
4 2021-10-05  Temperatura media  Noroeste  Casa de Campo  16.3

In [113]:
df_temp_oct['Valor'] = pd.to_numeric(df_temp_oct['Valor'], errors='coerce')

In [114]:
df_temp_oct.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     31 non-null     datetime64[ns]
 1   Magnitud  31 non-null     object
 2   Zona      31 non-null     object
 3   Estación  31 non-null     object
 4   Valor     31 non-null     float64
dtypes: datetime64[ns](1), float64(1), object(3)
memory usage: 1.3+ KB

In [115]:
df_temp_nov =pd.read_csv('C:/Users/rfg2m/Documents/DATA_SCIENCE/Entregas/Proyectos/MACHINE LEARNING/Data/raw/Data_21/temp_nov_21.csv',sep=';', encoding='utf-8')
df_temp_nov.head()

        Fecha           Magnitud      Zona       Estación Valor
0  2021-11-01  Temperatura media  Noroeste  Casa de Campo  14,3
1  2021-11-02  Temperatura media  Noroeste  Casa de Campo   9,5
2  2021-11-03  Temperatura media  Noroeste  Casa de Campo   8,6
3  2021-11-04  Temperatura media  Noroeste  Casa de Campo   7,3
4  2021-11-05  Temperatura media  Noroeste  Casa de Campo   6,9

In [116]:
df_temp_nov.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     30 non-null     object
 1   Magnitud  30 non-null     object
 2   Zona      30 non-null     object
 3   Estación  30 non-null     object
 4   Valor     30 non-null     object
dtypes: object(5)
memory usage: 1.3+ KB

In [117]:
df_temp_nov["Fecha"] = pd.to_datetime(df_temp_nov["Fecha"])
df_temp_nov.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     30 non-null     datetime64[ns]
 1   Magnitud  30 non-null     object
 2   Zona      30 non-null     object
 3   Estación  30 non-null     object
 4   Valor     30 non-null     object
dtypes: datetime64[ns](1), object(4)
memory usage: 1.3+ KB

In [118]:
df_temp_nov['Valor'] = df_temp_nov['Valor'].str.replace(',', '.') #Reemplazar comas por puntos
df_temp_nov['Valor'] = df_temp_nov['Valor'].str.replace(r'[^\d\.]', '', regex=True) #Eliminar caracteres no numéricos, exepto el punto 
df_temp_nov.head()

       Fecha           Magnitud      Zona       Estación Valor
0 2021-11-01  Temperatura media  Noroeste  Casa de Campo  14.3
1 2021-11-02  Temperatura media  Noroeste  Casa de Campo   9.5
2 2021-11-03  Temperatura media  Noroeste  Casa de Campo   8.6
3 2021-11-04  Temperatura media  Noroeste  Casa de Campo   7.3
4 2021-11-05  Temperatura media  Noroeste  Casa de Campo   6.9

In [119]:
df_temp_nov['Valor'] = pd.to_numeric(df_temp_nov['Valor'], errors='coerce')

In [120]:
df_temp_nov.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     30 non-null     datetime64[ns]
 1   Magnitud  30 non-null     object
 2   Zona      30 non-null     object
 3   Estación  30 non-null     object
 4   Valor     30 non-null     float64
dtypes: datetime64[ns](1), float64(1), object(3)
memory usage: 1.3+ KB

In [121]:
df_temp_dic =pd.read_csv('C:/Users/rfg2m/Documents/DATA_SCIENCE/Entregas/Proyectos/MACHINE LEARNING/Data/raw/Data_21/temp_dic_21.csv',sep=';', encoding='utf-8')
df_temp_dic.head()

        Fecha           Magnitud      Zona       Estación Valor
0  2021-12-01  Temperatura media  Noroeste  Casa de Campo   4,3
1  2021-12-02  Temperatura media  Noroeste  Casa de Campo   6,6
2  2021-12-03  Temperatura media  Noroeste  Casa de Campo   7,4
3  2021-12-04  Temperatura media  Noroeste  Casa de Campo   7,1
4  2021-12-05  Temperatura media  Noroeste  Casa de Campo   8,3

In [122]:
df_temp_dic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     31 non-null     object
 1   Magnitud  31 non-null     object
 2   Zona      31 non-null     object
 3   Estación  31 non-null     object
 4   Valor     31 non-null     object
dtypes: object(5)
memory usage: 1.3+ KB

In [123]:
df_temp_dic["Fecha"] = pd.to_datetime(df_temp_dic["Fecha"])
df_temp_dic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     31 non-null     datetime64[ns]
 1   Magnitud  31 non-null     object
 2   Zona      31 non-null     object
 3   Estación  31 non-null     object
 4   Valor     31 non-null     object
dtypes: datetime64[ns](1), object(4)
memory usage: 1.3+ KB

In [124]:
df_temp_dic['Valor'] = df_temp_dic['Valor'].str.replace(',', '.') #Reemplazar comas por puntos
df_temp_dic['Valor'] = df_temp_dic['Valor'].str.replace(r'[^\d\.]', '', regex=True) #Eliminar caracteres no numéricos, exepto el punto 
df_temp_dic.head()

       Fecha           Magnitud      Zona       Estación Valor
0 2021-12-01  Temperatura media  Noroeste  Casa de Campo   4.3
1 2021-12-02  Temperatura media  Noroeste  Casa de Campo   6.6
2 2021-12-03  Temperatura media  Noroeste  Casa de Campo   7.4
3 2021-12-04  Temperatura media  Noroeste  Casa de Campo   7.1
4 2021-12-05  Temperatura media  Noroeste  Casa de Campo   8.3

In [125]:
df_temp_dic['Valor'] = pd.to_numeric(df_temp_dic['Valor'], errors='coerce')

In [126]:
df_temp_dic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     31 non-null     datetime64[ns]
 1   Magnitud  31 non-null     object
 2   Zona      31 non-null     object
 3   Estación  31 non-null     object
 4   Valor     31 non-null     float64
dtypes: datetime64[ns](1), float64(1), object(3)
memory usage: 1.3+ KB

In [128]:
df_temp = pd.concat([df_temp_ene, df_temp_feb, df_temp_mar, df_temp_abr, df_temp_may, df_temp_jun, df_temp_jul, df_temp_ago, df_temp_sep, df_temp_oct, df_temp_nov, df_temp_dic ],axis=0, ignore_index=True)
df_temp

         Fecha           Magnitud      Zona       Estación  Valor
0   2021-01-01  Temperatura media  Noroeste  Casa de Campo    3.6
1   2021-01-02  Temperatura media  Noroeste  Casa de Campo    1.7
2   2021-01-03  Temperatura media  Noroeste  Casa de Campo    1.5
3   2021-01-04  Temperatura media  Noroeste  Casa de Campo    2.5
4   2021-01-05  Temperatura media  Noroeste  Casa de Campo    0.1
..         ...                ...       ...            ...    ...
360 2021-12-27  Temperatura media  Noroeste  Casa de Campo   11.7
361 2021-12-28  Temperatura media  Noroeste  Casa de Campo   10.5
362 2021-12-29  Temperatura media  Noroeste  Casa de Campo    8.7
363 2021-12-30  Temperatura media  Noroeste  Casa de Campo    8.1
364 2021-12-31  Temperatura media  Noroeste  Casa de Campo    8.3

[365 rows x 5 columns]

In [129]:
df_temp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 365 entries, 0 to 364
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     365 non-null    datetime64[ns]
 1   Magnitud  365 non-null    object
 2   Zona      365 non-null    object
 3   Estación  365 non-null    object
 4   Valor     365 non-null    float64
dtypes: datetime64[ns](1), float64(1), object(3)
memory usage: 14.4+ KB

In [130]:
df_temp.drop(columns=['Magnitud', 'Zona', 'Estación'], inplace=True)

In [131]:
df_temp.rename(columns={'Valor': 'Temperatura_Media'}, inplace=True)
df_temp.head()

       Fecha  Temperatura_Media
0 2021-01-01                3.6
1 2021-01-02                1.7
2 2021-01-03                1.5
3 2021-01-04                2.5
4 2021-01-05                0.1

In [132]:
df_temp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 365 entries, 0 to 364
Data columns (total 2 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Fecha              365 non-null    datetime64[ns]
 1   Temperatura_Media  365 non-null    float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 5.8 KB

## Datasets de precipitaciones diarias año 2021

In [134]:
df_precp_ene = pd.read_csv('C:/Users/rfg2m/Documents/DATA_SCIENCE/Entregas/Proyectos/MACHINE LEARNING/Data/raw/Data_21/precp_ene_21.csv', sep=';', encoding='utf-8')
df_precp_ene.head()

        Fecha       Magnitud      Zona       Estación Valor
0  2021-01-01  Precipitación  Noroeste  Casa de Campo  0,00
1  2021-01-02  Precipitación  Noroeste  Casa de Campo  0,00
2  2021-01-03  Precipitación  Noroeste  Casa de Campo  0,00
3  2021-01-04  Precipitación  Noroeste  Casa de Campo  0,00
4  2021-01-05  Precipitación  Noroeste  Casa de Campo  0,00

In [135]:
df_precp_ene.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     31 non-null     object
 1   Magnitud  31 non-null     object
 2   Zona      31 non-null     object
 3   Estación  31 non-null     object
 4   Valor     31 non-null     object
dtypes: object(5)
memory usage: 1.3+ KB

In [136]:
df_precp_ene["Fecha"] = pd.to_datetime(df_precp_ene["Fecha"])
df_precp_ene.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     31 non-null     datetime64[ns]
 1   Magnitud  31 non-null     object
 2   Zona      31 non-null     object
 3   Estación  31 non-null     object
 4   Valor     31 non-null     object
dtypes: datetime64[ns](1), object(4)
memory usage: 1.3+ KB

In [137]:
df_precp_ene['Valor'] = df_precp_ene['Valor'].str.replace(',', '.') #Reemplazar comas por puntos
df_precp_ene['Valor'] = df_precp_ene['Valor'].str.replace(r'[^\d\.]', '', regex=True) #Eliminar caracteres no numéricos, exepto el punto 
df_precp_ene.head()

       Fecha       Magnitud      Zona       Estación Valor
0 2021-01-01  Precipitación  Noroeste  Casa de Campo  0.00
1 2021-01-02  Precipitación  Noroeste  Casa de Campo  0.00
2 2021-01-03  Precipitación  Noroeste  Casa de Campo  0.00
3 2021-01-04  Precipitación  Noroeste  Casa de Campo  0.00
4 2021-01-05  Precipitación  Noroeste  Casa de Campo  0.00

In [138]:
df_precp_ene['Valor'] = pd.to_numeric(df_precp_ene['Valor'], errors='coerce')

In [139]:
df_precp_ene.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     31 non-null     datetime64[ns]
 1   Magnitud  31 non-null     object
 2   Zona      31 non-null     object
 3   Estación  31 non-null     object
 4   Valor     31 non-null     float64
dtypes: datetime64[ns](1), float64(1), object(3)
memory usage: 1.3+ KB

In [141]:
df_precp_feb = pd.read_csv('C:/Users/rfg2m/Documents/DATA_SCIENCE/Entregas/Proyectos/MACHINE LEARNING/Data/raw/Data_21/precp_feb_21.csv', sep=';', encoding='utf-8')
df_precp_feb.head()

        Fecha       Magnitud      Zona       Estación Valor
0  2021-02-01  Precipitación  Noroeste  Casa de Campo  0,00
1  2021-02-02  Precipitación  Noroeste  Casa de Campo  0,00
2  2021-02-03  Precipitación  Noroeste  Casa de Campo  0,00
3  2021-02-04  Precipitación  Noroeste  Casa de Campo  0,00
4  2021-02-05  Precipitación  Noroeste  Casa de Campo  0,13

In [142]:
df_precp_feb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28 entries, 0 to 27
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     28 non-null     object
 1   Magnitud  28 non-null     object
 2   Zona      28 non-null     object
 3   Estación  28 non-null     object
 4   Valor     27 non-null     object
dtypes: object(5)
memory usage: 1.2+ KB

In [143]:
df_precp_feb["Fecha"] = pd.to_datetime(df_precp_feb["Fecha"])
df_precp_feb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28 entries, 0 to 27
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     28 non-null     datetime64[ns]
 1   Magnitud  28 non-null     object
 2   Zona      28 non-null     object
 3   Estación  28 non-null     object
 4   Valor     27 non-null     object
dtypes: datetime64[ns](1), object(4)
memory usage: 1.2+ KB

In [144]:
df_precp_feb['Valor'] = df_precp_feb['Valor'].str.replace(',', '.') #Reemplazar comas por puntos
df_precp_feb['Valor'] = df_precp_feb['Valor'].str.replace(r'[^\d\.]', '', regex=True) #Eliminar caracteres no numéricos, exepto el punto 
df_precp_feb.head()

       Fecha       Magnitud      Zona       Estación Valor
0 2021-02-01  Precipitación  Noroeste  Casa de Campo  0.00
1 2021-02-02  Precipitación  Noroeste  Casa de Campo  0.00
2 2021-02-03  Precipitación  Noroeste  Casa de Campo  0.00
3 2021-02-04  Precipitación  Noroeste  Casa de Campo  0.00
4 2021-02-05  Precipitación  Noroeste  Casa de Campo  0.13

In [145]:
df_precp_feb['Valor'] = pd.to_numeric(df_precp_feb['Valor'], errors='coerce')

In [146]:
df_nulos = df_precp_feb[df_precp_feb.isnull().any(axis=1)]
print(df_nulos)

       Fecha       Magnitud      Zona       Estación  Valor
9 2021-02-10  Precipitación  Noroeste  Casa de Campo    NaN

In [147]:
df_precp_feb['Valor'] = df_precp_feb['Valor'].fillna(df_precp_feb['Valor'].mean())
df_precp_feb.head(10)

       Fecha       Magnitud      Zona       Estación     Valor
0 2021-02-01  Precipitación  Noroeste  Casa de Campo  0.000000
1 2021-02-02  Precipitación  Noroeste  Casa de Campo  0.000000
2 2021-02-03  Precipitación  Noroeste  Casa de Campo  0.000000
3 2021-02-04  Precipitación  Noroeste  Casa de Campo  0.000000
4 2021-02-05  Precipitación  Noroeste  Casa de Campo  0.130000
5 2021-02-06  Precipitación  Noroeste  Casa de Campo  0.050000
6 2021-02-07  Precipitación  Noroeste  Casa de Campo  0.020000
7 2021-02-08  Precipitación  Noroeste  Casa de Campo  0.340000
8 2021-02-09  Precipitación  Noroeste  Casa de Campo  0.190000
9 2021-02-10  Precipitación  Noroeste  Casa de Campo  0.041852

In [148]:
df_precp_feb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28 entries, 0 to 27
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     28 non-null     datetime64[ns]
 1   Magnitud  28 non-null     object
 2   Zona      28 non-null     object
 3   Estación  28 non-null     object
 4   Valor     28 non-null     float64
dtypes: datetime64[ns](1), float64(1), object(3)
memory usage: 1.2+ KB

In [149]:
df_precp_mar = pd.read_csv('C:/Users/rfg2m/Documents/DATA_SCIENCE/Entregas/Proyectos/MACHINE LEARNING/Data/raw/Data_21/precp_mar_21.csv', sep=';', encoding='utf-8')
df_precp_mar.head()

        Fecha       Magnitud      Zona       Estación Valor
0  2021-03-01  Precipitación  Noroeste  Casa de Campo  0,00
1  2021-03-02  Precipitación  Noroeste  Casa de Campo  0,00
2  2021-03-03  Precipitación  Noroeste  Casa de Campo  0,00
3  2021-03-04  Precipitación  Noroeste  Casa de Campo  0,00
4  2021-03-05  Precipitación  Noroeste  Casa de Campo  0,00

In [150]:
df_precp_mar.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     31 non-null     object
 1   Magnitud  31 non-null     object
 2   Zona      31 non-null     object
 3   Estación  31 non-null     object
 4   Valor     31 non-null     object
dtypes: object(5)
memory usage: 1.3+ KB

In [151]:
df_precp_mar["Fecha"] = pd.to_datetime(df_precp_mar["Fecha"])
df_precp_mar.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     31 non-null     datetime64[ns]
 1   Magnitud  31 non-null     object
 2   Zona      31 non-null     object
 3   Estación  31 non-null     object
 4   Valor     31 non-null     object
dtypes: datetime64[ns](1), object(4)
memory usage: 1.3+ KB

In [152]:
df_precp_mar['Valor'] = df_precp_mar['Valor'].str.replace(',', '.') #Reemplazar comas por puntos
df_precp_mar['Valor'] = df_precp_mar['Valor'].str.replace(r'[^\d\.]', '', regex=True) #Eliminar caracteres no numéricos, exepto el punto 
df_precp_mar.head()

       Fecha       Magnitud      Zona       Estación Valor
0 2021-03-01  Precipitación  Noroeste  Casa de Campo  0.00
1 2021-03-02  Precipitación  Noroeste  Casa de Campo  0.00
2 2021-03-03  Precipitación  Noroeste  Casa de Campo  0.00
3 2021-03-04  Precipitación  Noroeste  Casa de Campo  0.00
4 2021-03-05  Precipitación  Noroeste  Casa de Campo  0.00

In [153]:
df_precp_mar['Valor'] = pd.to_numeric(df_precp_mar['Valor'], errors='coerce')

In [154]:
df_precp_mar.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     31 non-null     datetime64[ns]
 1   Magnitud  31 non-null     object
 2   Zona      31 non-null     object
 3   Estación  31 non-null     object
 4   Valor     31 non-null     float64
dtypes: datetime64[ns](1), float64(1), object(3)
memory usage: 1.3+ KB

In [156]:
df_precp_abr = pd.read_csv('C:/Users/rfg2m/Documents/DATA_SCIENCE/Entregas/Proyectos/MACHINE LEARNING/Data/raw/Data_21/precp_abr_21.csv', sep=';', encoding='utf-8')
df_precp_abr.head()

        Fecha       Magnitud      Zona       Estación Valor
0  2021-04-01  Precipitación  Noroeste  Casa de Campo  0,00
1  2021-04-02  Precipitación  Noroeste  Casa de Campo  0,32
2  2021-04-03  Precipitación  Noroeste  Casa de Campo  0,05
3  2021-04-04  Precipitación  Noroeste  Casa de Campo  0,00
4  2021-04-05  Precipitación  Noroeste  Casa de Campo  0,00

In [157]:
df_precp_abr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     30 non-null     object
 1   Magnitud  30 non-null     object
 2   Zona      30 non-null     object
 3   Estación  30 non-null     object
 4   Valor     30 non-null     object
dtypes: object(5)
memory usage: 1.3+ KB

In [158]:
df_precp_abr["Fecha"] = pd.to_datetime(df_precp_abr["Fecha"], errors="coerce")
df_precp_abr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     30 non-null     datetime64[ns]
 1   Magnitud  30 non-null     object
 2   Zona      30 non-null     object
 3   Estación  30 non-null     object
 4   Valor     30 non-null     object
dtypes: datetime64[ns](1), object(4)
memory usage: 1.3+ KB

In [159]:
df_precp_abr['Valor'] = df_precp_abr['Valor'].str.replace(',', '.') #Reemplazar comas por puntos
df_precp_abr['Valor'] = df_precp_abr['Valor'].str.replace(r'[^\d\.]', '', regex=True) #Eliminar caracteres no numéricos, exepto el punto 
df_precp_abr.head()

       Fecha       Magnitud      Zona       Estación Valor
0 2021-04-01  Precipitación  Noroeste  Casa de Campo  0.00
1 2021-04-02  Precipitación  Noroeste  Casa de Campo  0.32
2 2021-04-03  Precipitación  Noroeste  Casa de Campo  0.05
3 2021-04-04  Precipitación  Noroeste  Casa de Campo  0.00
4 2021-04-05  Precipitación  Noroeste  Casa de Campo  0.00

In [160]:
df_precp_abr['Valor'] = pd.to_numeric(df_precp_abr['Valor'], errors='coerce')

In [161]:
df_precp_abr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     30 non-null     datetime64[ns]
 1   Magnitud  30 non-null     object
 2   Zona      30 non-null     object
 3   Estación  30 non-null     object
 4   Valor     30 non-null     float64
dtypes: datetime64[ns](1), float64(1), object(3)
memory usage: 1.3+ KB

In [162]:
df_precp_may = pd.read_csv('C:/Users/rfg2m/Documents/DATA_SCIENCE/Entregas/Proyectos/MACHINE LEARNING/Data/raw/Data_21/precp_may_21.csv', sep=';', encoding='utf-8')
df_precp_may.head()

        Fecha       Magnitud      Zona       Estación Valor
0  2021-05-01  Precipitación  Noroeste  Casa de Campo  0,00
1  2021-05-02  Precipitación  Noroeste  Casa de Campo  0,01
2  2021-05-03  Precipitación  Noroeste  Casa de Campo  0,00
3  2021-05-04  Precipitación  Noroeste  Casa de Campo  0,03
4  2021-05-05  Precipitación  Noroeste  Casa de Campo  0,00

In [163]:
df_precp_may.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     31 non-null     object
 1   Magnitud  31 non-null     object
 2   Zona      31 non-null     object
 3   Estación  31 non-null     object
 4   Valor     31 non-null     object
dtypes: object(5)
memory usage: 1.3+ KB

In [164]:
df_precp_may["Fecha"] = pd.to_datetime(df_precp_may["Fecha"])
df_precp_may.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     31 non-null     datetime64[ns]
 1   Magnitud  31 non-null     object
 2   Zona      31 non-null     object
 3   Estación  31 non-null     object
 4   Valor     31 non-null     object
dtypes: datetime64[ns](1), object(4)
memory usage: 1.3+ KB

In [165]:
df_precp_may['Valor'] = df_precp_may['Valor'].str.replace(',', '.') #Reemplazar comas por puntos
df_precp_may['Valor'] = df_precp_may['Valor'].str.replace(r'[^\d\.]', '', regex=True) #Eliminar caracteres no numéricos, exepto el punto 
df_precp_may.head()

       Fecha       Magnitud      Zona       Estación Valor
0 2021-05-01  Precipitación  Noroeste  Casa de Campo  0.00
1 2021-05-02  Precipitación  Noroeste  Casa de Campo  0.01
2 2021-05-03  Precipitación  Noroeste  Casa de Campo  0.00
3 2021-05-04  Precipitación  Noroeste  Casa de Campo  0.03
4 2021-05-05  Precipitación  Noroeste  Casa de Campo  0.00

In [166]:
df_precp_may['Valor'] = pd.to_numeric(df_precp_may['Valor'], errors='coerce')

In [167]:
df_precp_may.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     31 non-null     datetime64[ns]
 1   Magnitud  31 non-null     object
 2   Zona      31 non-null     object
 3   Estación  31 non-null     object
 4   Valor     31 non-null     float64
dtypes: datetime64[ns](1), float64(1), object(3)
memory usage: 1.3+ KB

In [168]:
df_precp_jun = pd.read_csv('C:/Users/rfg2m/Documents/DATA_SCIENCE/Entregas/Proyectos/MACHINE LEARNING/Data/raw/Data_21/precp_jun_21.csv', sep=';', encoding='utf-8')
df_precp_jun.head()

        Fecha       Magnitud      Zona       Estación Valor
0  2021-06-01  Precipitación  Noroeste  Casa de Campo  0,19
1  2021-06-02  Precipitación  Noroeste  Casa de Campo  0,00
2  2021-06-03  Precipitación  Noroeste  Casa de Campo  0,00
3  2021-06-04  Precipitación  Noroeste  Casa de Campo  0,00
4  2021-06-05  Precipitación  Noroeste  Casa de Campo  0,00

In [169]:
df_precp_jun.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     30 non-null     object
 1   Magnitud  30 non-null     object
 2   Zona      30 non-null     object
 3   Estación  30 non-null     object
 4   Valor     23 non-null     object
dtypes: object(5)
memory usage: 1.3+ KB

In [170]:
df_precp_jun["Fecha"] = pd.to_datetime(df_precp_jun["Fecha"])
df_precp_jun.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     30 non-null     datetime64[ns]
 1   Magnitud  30 non-null     object
 2   Zona      30 non-null     object
 3   Estación  30 non-null     object
 4   Valor     23 non-null     object
dtypes: datetime64[ns](1), object(4)
memory usage: 1.3+ KB

In [171]:
df_precp_jun['Valor'] = df_precp_jun['Valor'].str.replace(',', '.') #Reemplazar comas por puntos
df_precp_jun['Valor'] = df_precp_jun['Valor'].str.replace(r'[^\d\.]', '', regex=True) #Eliminar caracteres no numéricos, exepto el punto 
df_precp_jun.head()

       Fecha       Magnitud      Zona       Estación Valor
0 2021-06-01  Precipitación  Noroeste  Casa de Campo  0.19
1 2021-06-02  Precipitación  Noroeste  Casa de Campo  0.00
2 2021-06-03  Precipitación  Noroeste  Casa de Campo  0.00
3 2021-06-04  Precipitación  Noroeste  Casa de Campo  0.00
4 2021-06-05  Precipitación  Noroeste  Casa de Campo  0.00

In [172]:
df_precp_jun['Valor'] = pd.to_numeric(df_precp_jun['Valor'], errors='coerce')

In [173]:
df_nulos = df_precp_jun[df_precp_jun.isnull().any(axis=1)]
print(df_nulos)

        Fecha       Magnitud      Zona       Estación  Valor
23 2021-06-24  Precipitación  Noroeste  Casa de Campo    NaN
24 2021-06-25  Precipitación  Noroeste  Casa de Campo    NaN
25 2021-06-26  Precipitación  Noroeste  Casa de Campo    NaN
26 2021-06-27  Precipitación  Noroeste  Casa de Campo    NaN
27 2021-06-28  Precipitación  Noroeste  Casa de Campo    NaN
28 2021-06-29  Precipitación  Noroeste  Casa de Campo    NaN
29 2021-06-30  Precipitación  Noroeste  Casa de Campo    NaN

In [174]:
df_precp_jun['Valor'] = df_precp_jun['Valor'].fillna(df_precp_jun['Valor'].mean())
df_precp_jun.head(30)

        Fecha       Magnitud      Zona       Estación    Valor
0  2021-06-01  Precipitación  Noroeste  Casa de Campo  0.19000
1  2021-06-02  Precipitación  Noroeste  Casa de Campo  0.00000
2  2021-06-03  Precipitación  Noroeste  Casa de Campo  0.00000
3  2021-06-04  Precipitación  Noroeste  Casa de Campo  0.00000
4  2021-06-05  Precipitación  Noroeste  Casa de Campo  0.00000
5  2021-06-06  Precipitación  Noroeste  Casa de Campo  0.01000
6  2021-06-07  Precipitación  Noroeste  Casa de Campo  0.00000
7  2021-06-08  Precipitación  Noroeste  Casa de Campo  0.00000
8  2021-06-09  Precipitación  Noroeste  Casa de Campo  0.00000
9  2021-06-10  Precipitación  Noroeste  Casa de Campo  0.00000
10 2021-06-11  Precipitación  Noroeste  Casa de Campo  0.03000
11 2021-06-12  Precipitación  Noroeste  Casa de Campo  0.00000
12 2021-06-13  Precipitación  Noroeste  Casa de Campo  0.00000
13 2021-06-14  Precipitación  Noroeste  Casa de Campo  0.00000
14 2021-06-15  Precipitación  Noroeste  Casa de Campo  0.00000
15 2021-06-16  Precipitación  Noroeste  Casa de Campo  0.45000
16 2021-06-17  Precipitación  Noroeste  Casa de Campo  0.47000
17 2021-06-18  Precipitación  Noroeste  Casa de Campo  0.23000
18 2021-06-19  Precipitación  Noroeste  Casa de Campo  0.00000
19 2021-06-20  Precipitación  Noroeste  Casa de Campo  0.00000
20 2021-06-21  Precipitación  Noroeste  Casa de Campo  0.00000
21 2021-06-22  Precipitación  Noroeste  Casa de Campo  0.02000
22 2021-06-23  Precipitación  Noroeste  Casa de Campo  0.00000
23 2021-06-24  Precipitación  Noroeste  Casa de Campo  0.06087
24 2021-06-25  Precipitación  Noroeste  Casa de Campo  0.06087
25 2021-06-26  Precipitación  Noroeste  Casa de Campo  0.06087
26 2021-06-27  Precipitación  Noroeste  Casa de Campo  0.06087
27 2021-06-28  Precipitación  Noroeste  Casa de Campo  0.06087
28 2021-06-29  Precipitación  Noroeste  Casa de Campo  0.06087
29 2021-06-30  Precipitación  Noroeste  Casa de Campo  0.06087

In [175]:
df_precp_jun.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     30 non-null     datetime64[ns]
 1   Magnitud  30 non-null     object
 2   Zona      30 non-null     object
 3   Estación  30 non-null     object
 4   Valor     30 non-null     float64
dtypes: datetime64[ns](1), float64(1), object(3)
memory usage: 1.3+ KB

In [176]:
df_precp_jul = pd.read_csv('C:/Users/rfg2m/Documents/DATA_SCIENCE/Entregas/Proyectos/MACHINE LEARNING/Data/raw/Data_21/precp_jul_21.csv', sep=';', encoding='utf-8')
df_precp_jul.head()

        Fecha       Magnitud      Zona       Estación Valor
0  2021-07-01  Precipitación  Noroeste  Casa de Campo  0,00
1  2021-07-02  Precipitación  Noroeste  Casa de Campo  0,00
2  2021-07-03  Precipitación  Noroeste  Casa de Campo  0,00
3  2021-07-04  Precipitación  Noroeste  Casa de Campo  0,00
4  2021-07-05  Precipitación  Noroeste  Casa de Campo  0,00

In [177]:
df_precp_jul.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     31 non-null     object
 1   Magnitud  31 non-null     object
 2   Zona      31 non-null     object
 3   Estación  31 non-null     object
 4   Valor     30 non-null     object
dtypes: object(5)
memory usage: 1.3+ KB

In [178]:
df_precp_jul["Fecha"] = pd.to_datetime(df_precp_jul["Fecha"])
df_precp_jul.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     31 non-null     datetime64[ns]
 1   Magnitud  31 non-null     object
 2   Zona      31 non-null     object
 3   Estación  31 non-null     object
 4   Valor     30 non-null     object
dtypes: datetime64[ns](1), object(4)
memory usage: 1.3+ KB

In [179]:
df_precp_jul['Valor'] = df_precp_jul['Valor'].str.replace(',', '.') #Reemplazar comas por puntos
df_precp_jul['Valor'] = df_precp_jul['Valor'].str.replace(r'[^\d\.]', '', regex=True) #Eliminar caracteres no numéricos, exepto el punto 
df_precp_jul.head()

       Fecha       Magnitud      Zona       Estación Valor
0 2021-07-01  Precipitación  Noroeste  Casa de Campo  0.00
1 2021-07-02  Precipitación  Noroeste  Casa de Campo  0.00
2 2021-07-03  Precipitación  Noroeste  Casa de Campo  0.00
3 2021-07-04  Precipitación  Noroeste  Casa de Campo  0.00
4 2021-07-05  Precipitación  Noroeste  Casa de Campo  0.00

In [180]:
df_precp_jul['Valor'] = pd.to_numeric(df_precp_jul['Valor'], errors='coerce')

In [181]:
df_nulos = df_precp_jul[df_precp_jul.isnull().any(axis=1)]
print(df_nulos)

        Fecha       Magnitud      Zona       Estación  Valor
10 2021-07-11  Precipitación  Noroeste  Casa de Campo    NaN

In [182]:
df_precp_jul['Valor'] = df_precp_jul['Valor'].fillna(df_precp_jul['Valor'].mean())
df_precp_jul.head(30)

        Fecha       Magnitud      Zona       Estación     Valor
0  2021-07-01  Precipitación  Noroeste  Casa de Campo  0.000000
1  2021-07-02  Precipitación  Noroeste  Casa de Campo  0.000000
2  2021-07-03  Precipitación  Noroeste  Casa de Campo  0.000000
3  2021-07-04  Precipitación  Noroeste  Casa de Campo  0.000000
4  2021-07-05  Precipitación  Noroeste  Casa de Campo  0.000000
5  2021-07-06  Precipitación  Noroeste  Casa de Campo  0.040000
6  2021-07-07  Precipitación  Noroeste  Casa de Campo  0.000000
7  2021-07-08  Precipitación  Noroeste  Casa de Campo  0.000000
8  2021-07-09  Precipitación  Noroeste  Casa de Campo  0.000000
9  2021-07-10  Precipitación  Noroeste  Casa de Campo  0.000000
10 2021-07-11  Precipitación  Noroeste  Casa de Campo  0.005667
11 2021-07-12  Precipitación  Noroeste  Casa de Campo  0.000000
12 2021-07-13  Precipitación  Noroeste  Casa de Campo  0.000000
13 2021-07-14  Precipitación  Noroeste  Casa de Campo  0.000000
14 2021-07-15  Precipitación  Noroeste  Casa de Campo  0.000000
15 2021-07-16  Precipitación  Noroeste  Casa de Campo  0.000000
16 2021-07-17  Precipitación  Noroeste  Casa de Campo  0.000000
17 2021-07-18  Precipitación  Noroeste  Casa de Campo  0.000000
18 2021-07-19  Precipitación  Noroeste  Casa de Campo  0.000000
19 2021-07-20  Precipitación  Noroeste  Casa de Campo  0.000000
20 2021-07-21  Precipitación  Noroeste  Casa de Campo  0.000000
21 2021-07-22  Precipitación  Noroeste  Casa de Campo  0.000000
22 2021-07-23  Precipitación  Noroeste  Casa de Campo  0.000000
23 2021-07-24  Precipitación  Noroeste  Casa de Campo  0.000000
24 2021-07-25  Precipitación  Noroeste  Casa de Campo  0.040000
25 2021-07-26  Precipitación  Noroeste  Casa de Campo  0.090000
26 2021-07-27  Precipitación  Noroeste  Casa de Campo  0.000000
27 2021-07-28  Precipitación  Noroeste  Casa de Campo  0.000000
28 2021-07-29  Precipitación  Noroeste  Casa de Campo  0.000000
29 2021-07-30  Precipitación  Noroeste  Casa de Campo  0.000000

In [183]:
df_precp_jul.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     31 non-null     datetime64[ns]
 1   Magnitud  31 non-null     object
 2   Zona      31 non-null     object
 3   Estación  31 non-null     object
 4   Valor     31 non-null     float64
dtypes: datetime64[ns](1), float64(1), object(3)
memory usage: 1.3+ KB

In [184]:
df_precp_ago = pd.read_csv('C:/Users/rfg2m/Documents/DATA_SCIENCE/Entregas/Proyectos/MACHINE LEARNING/Data/raw/Data_21/precp_ago_21.csv', sep=';', encoding='utf-8')
df_precp_ago.head()

        Fecha       Magnitud      Zona       Estación Valor
0  2021-08-01  Precipitación  Noroeste  Casa de Campo  0,00
1  2021-08-02  Precipitación  Noroeste  Casa de Campo  0,00
2  2021-08-03  Precipitación  Noroeste  Casa de Campo  0,00
3  2021-08-04  Precipitación  Noroeste  Casa de Campo  0,00
4  2021-08-05  Precipitación  Noroeste  Casa de Campo  0,00

In [185]:
df_precp_ago.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     31 non-null     object
 1   Magnitud  31 non-null     object
 2   Zona      31 non-null     object
 3   Estación  31 non-null     object
 4   Valor     31 non-null     object
dtypes: object(5)
memory usage: 1.3+ KB

In [186]:
df_precp_ago["Fecha"] = pd.to_datetime(df_precp_ago["Fecha"])
df_precp_ago.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     31 non-null     datetime64[ns]
 1   Magnitud  31 non-null     object
 2   Zona      31 non-null     object
 3   Estación  31 non-null     object
 4   Valor     31 non-null     object
dtypes: datetime64[ns](1), object(4)
memory usage: 1.3+ KB

In [187]:
df_precp_ago['Valor'] = df_precp_ago['Valor'].str.replace(',', '.') #Reemplazar comas por puntos
df_precp_ago['Valor'] = df_precp_ago['Valor'].str.replace(r'[^\d\.]', '', regex=True) #Eliminar caracteres no numéricos, exepto el punto 
df_precp_ago.head()

       Fecha       Magnitud      Zona       Estación Valor
0 2021-08-01  Precipitación  Noroeste  Casa de Campo  0.00
1 2021-08-02  Precipitación  Noroeste  Casa de Campo  0.00
2 2021-08-03  Precipitación  Noroeste  Casa de Campo  0.00
3 2021-08-04  Precipitación  Noroeste  Casa de Campo  0.00
4 2021-08-05  Precipitación  Noroeste  Casa de Campo  0.00

In [188]:
df_precp_ago['Valor'] = pd.to_numeric(df_precp_ago['Valor'], errors='coerce')

In [189]:
df_precp_ago.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     31 non-null     datetime64[ns]
 1   Magnitud  31 non-null     object
 2   Zona      31 non-null     object
 3   Estación  31 non-null     object
 4   Valor     31 non-null     float64
dtypes: datetime64[ns](1), float64(1), object(3)
memory usage: 1.3+ KB

In [190]:
df_precp_sep = pd.read_csv('C:/Users/rfg2m/Documents/DATA_SCIENCE/Entregas/Proyectos/MACHINE LEARNING/Data/raw/Data_21/precp_sep_21.csv', sep=';', encoding='utf-8')
df_precp_sep.head()

        Fecha       Magnitud      Zona       Estación Valor
0  2021-09-01  Precipitación  Noroeste  Casa de Campo  0,65
1  2021-09-02  Precipitación  Noroeste  Casa de Campo  0,03
2  2021-09-03  Precipitación  Noroeste  Casa de Campo  0,00
3  2021-09-04  Precipitación  Noroeste  Casa de Campo  0,00
4  2021-09-05  Precipitación  Noroeste  Casa de Campo  0,00

In [191]:
df_precp_sep.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     30 non-null     object
 1   Magnitud  30 non-null     object
 2   Zona      30 non-null     object
 3   Estación  30 non-null     object
 4   Valor     30 non-null     object
dtypes: object(5)
memory usage: 1.3+ KB

In [192]:
df_precp_sep["Fecha"] = pd.to_datetime(df_precp_sep["Fecha"])
df_precp_sep.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     30 non-null     datetime64[ns]
 1   Magnitud  30 non-null     object
 2   Zona      30 non-null     object
 3   Estación  30 non-null     object
 4   Valor     30 non-null     object
dtypes: datetime64[ns](1), object(4)
memory usage: 1.3+ KB

In [193]:
df_precp_sep['Valor'] = df_precp_sep['Valor'].str.replace(',', '.') #Reemplazar comas por puntos
df_precp_sep['Valor'] = df_precp_sep['Valor'].str.replace(r'[^\d\.]', '', regex=True) #Eliminar caracteres no numéricos, exepto el punto 
df_precp_sep.head()

       Fecha       Magnitud      Zona       Estación Valor
0 2021-09-01  Precipitación  Noroeste  Casa de Campo  0.65
1 2021-09-02  Precipitación  Noroeste  Casa de Campo  0.03
2 2021-09-03  Precipitación  Noroeste  Casa de Campo  0.00
3 2021-09-04  Precipitación  Noroeste  Casa de Campo  0.00
4 2021-09-05  Precipitación  Noroeste  Casa de Campo  0.00

In [194]:
df_precp_sep['Valor'] = pd.to_numeric(df_precp_sep['Valor'], errors='coerce')

In [195]:
df_precp_sep.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     30 non-null     datetime64[ns]
 1   Magnitud  30 non-null     object
 2   Zona      30 non-null     object
 3   Estación  30 non-null     object
 4   Valor     30 non-null     float64
dtypes: datetime64[ns](1), float64(1), object(3)
memory usage: 1.3+ KB

In [197]:
df_precp_oct = pd.read_csv('C:/Users/rfg2m/Documents/DATA_SCIENCE/Entregas/Proyectos/MACHINE LEARNING/Data/raw/Data_21/precp_oct_21.csv', sep=';', encoding='utf-8')
df_precp_oct.head()

        Fecha       Magnitud      Zona       Estación Valor
0  2021-10-01  Precipitación  Noroeste  Casa de Campo  0,00
1  2021-10-02  Precipitación  Noroeste  Casa de Campo  0,00
2  2021-10-03  Precipitación  Noroeste  Casa de Campo  0,35
3  2021-10-04  Precipitación  Noroeste  Casa de Campo  0,00
4  2021-10-05  Precipitación  Noroeste  Casa de Campo  0,00

In [198]:
df_precp_oct.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     31 non-null     object
 1   Magnitud  31 non-null     object
 2   Zona      31 non-null     object
 3   Estación  31 non-null     object
 4   Valor     31 non-null     object
dtypes: object(5)
memory usage: 1.3+ KB

In [199]:
df_precp_oct["Fecha"] = pd.to_datetime(df_precp_oct["Fecha"])
df_precp_oct.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     31 non-null     datetime64[ns]
 1   Magnitud  31 non-null     object
 2   Zona      31 non-null     object
 3   Estación  31 non-null     object
 4   Valor     31 non-null     object
dtypes: datetime64[ns](1), object(4)
memory usage: 1.3+ KB

In [200]:
df_precp_oct['Valor'] = df_precp_oct['Valor'].str.replace(',', '.') #Reemplazar comas por puntos
df_precp_oct['Valor'] = df_precp_oct['Valor'].str.replace(r'[^\d\.]', '', regex=True) #Eliminar caracteres no numéricos, exepto el punto 
df_precp_oct.head()

       Fecha       Magnitud      Zona       Estación Valor
0 2021-10-01  Precipitación  Noroeste  Casa de Campo  0.00
1 2021-10-02  Precipitación  Noroeste  Casa de Campo  0.00
2 2021-10-03  Precipitación  Noroeste  Casa de Campo  0.35
3 2021-10-04  Precipitación  Noroeste  Casa de Campo  0.00
4 2021-10-05  Precipitación  Noroeste  Casa de Campo  0.00

In [201]:
df_precp_oct['Valor'] = pd.to_numeric(df_precp_oct['Valor'], errors='coerce')

In [202]:
df_precp_oct.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     31 non-null     datetime64[ns]
 1   Magnitud  31 non-null     object
 2   Zona      31 non-null     object
 3   Estación  31 non-null     object
 4   Valor     31 non-null     float64
dtypes: datetime64[ns](1), float64(1), object(3)
memory usage: 1.3+ KB

In [203]:
df_precp_nov = pd.read_csv('C:/Users/rfg2m/Documents/DATA_SCIENCE/Entregas/Proyectos/MACHINE LEARNING/Data/raw/Data_21/precp_nov_21.csv', sep=';', encoding='utf-8')
df_precp_nov.head()

        Fecha       Magnitud      Zona       Estación Valor
0  2021-11-01  Precipitación  Noroeste  Casa de Campo  0,34
1  2021-11-02  Precipitación  Noroeste  Casa de Campo  0,40
2  2021-11-03  Precipitación  Noroeste  Casa de Campo  0,00
3  2021-11-04  Precipitación  Noroeste  Casa de Campo  0,00
4  2021-11-05  Precipitación  Noroeste  Casa de Campo  0,00

In [204]:
df_precp_nov.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     30 non-null     object
 1   Magnitud  30 non-null     object
 2   Zona      30 non-null     object
 3   Estación  30 non-null     object
 4   Valor     30 non-null     object
dtypes: object(5)
memory usage: 1.3+ KB

In [205]:
df_precp_nov["Fecha"] = pd.to_datetime(df_precp_nov["Fecha"])
df_precp_nov.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     30 non-null     datetime64[ns]
 1   Magnitud  30 non-null     object
 2   Zona      30 non-null     object
 3   Estación  30 non-null     object
 4   Valor     30 non-null     object
dtypes: datetime64[ns](1), object(4)
memory usage: 1.3+ KB

In [206]:
df_precp_nov['Valor'] = df_precp_nov['Valor'].str.replace(',', '.') #Reemplazar comas por puntos
df_precp_nov['Valor'] = df_precp_nov['Valor'].str.replace(r'[^\d\.]', '', regex=True) #Eliminar caracteres no numéricos, exepto el punto 
df_precp_nov.head()

       Fecha       Magnitud      Zona       Estación Valor
0 2021-11-01  Precipitación  Noroeste  Casa de Campo  0.34
1 2021-11-02  Precipitación  Noroeste  Casa de Campo  0.40
2 2021-11-03  Precipitación  Noroeste  Casa de Campo  0.00
3 2021-11-04  Precipitación  Noroeste  Casa de Campo  0.00
4 2021-11-05  Precipitación  Noroeste  Casa de Campo  0.00

In [207]:
df_precp_nov['Valor'] = pd.to_numeric(df_precp_nov['Valor'], errors='coerce')

In [208]:
df_precp_nov.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     30 non-null     datetime64[ns]
 1   Magnitud  30 non-null     object
 2   Zona      30 non-null     object
 3   Estación  30 non-null     object
 4   Valor     30 non-null     float64
dtypes: datetime64[ns](1), float64(1), object(3)
memory usage: 1.3+ KB

In [209]:
df_precp_dic = pd.read_csv('C:/Users/rfg2m/Documents/DATA_SCIENCE/Entregas/Proyectos/MACHINE LEARNING/Data/raw/Data_21/precp_dic_21.csv', sep=';', encoding='utf-8')
df_precp_dic.head()

        Fecha       Magnitud      Zona       Estación Valor
0  2021-12-01  Precipitación  Noroeste  Casa de Campo  0,11
1  2021-12-02  Precipitación  Noroeste  Casa de Campo  0,00
2  2021-12-03  Precipitación  Noroeste  Casa de Campo  0,00
3  2021-12-04  Precipitación  Noroeste  Casa de Campo  0,00
4  2021-12-05  Precipitación  Noroeste  Casa de Campo  0,00

In [210]:
df_precp_dic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     31 non-null     object
 1   Magnitud  31 non-null     object
 2   Zona      31 non-null     object
 3   Estación  31 non-null     object
 4   Valor     31 non-null     object
dtypes: object(5)
memory usage: 1.3+ KB

In [211]:
df_precp_dic["Fecha"] = pd.to_datetime(df_precp_dic["Fecha"])
df_precp_dic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     31 non-null     datetime64[ns]
 1   Magnitud  31 non-null     object
 2   Zona      31 non-null     object
 3   Estación  31 non-null     object
 4   Valor     31 non-null     object
dtypes: datetime64[ns](1), object(4)
memory usage: 1.3+ KB

In [212]:
df_precp_dic['Valor'] = df_precp_dic['Valor'].str.replace(',', '.') #Reemplazar comas por puntos
df_precp_dic['Valor'] = df_precp_dic['Valor'].str.replace(r'[^\d\.]', '', regex=True) #Eliminar caracteres no numéricos, exepto el punto 
df_precp_dic.head()

       Fecha       Magnitud      Zona       Estación Valor
0 2021-12-01  Precipitación  Noroeste  Casa de Campo  0.11
1 2021-12-02  Precipitación  Noroeste  Casa de Campo  0.00
2 2021-12-03  Precipitación  Noroeste  Casa de Campo  0.00
3 2021-12-04  Precipitación  Noroeste  Casa de Campo  0.00
4 2021-12-05  Precipitación  Noroeste  Casa de Campo  0.00

In [213]:
df_precp_dic['Valor'] = pd.to_numeric(df_precp_dic['Valor'], errors='coerce')

In [214]:
df_precp_dic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     31 non-null     datetime64[ns]
 1   Magnitud  31 non-null     object
 2   Zona      31 non-null     object
 3   Estación  31 non-null     object
 4   Valor     31 non-null     float64
dtypes: datetime64[ns](1), float64(1), object(3)
memory usage: 1.3+ KB

In [215]:
df_precp = pd.concat([df_precp_ene, df_precp_feb, df_precp_mar, df_precp_abr, df_precp_may, df_precp_jun, df_precp_jul, df_precp_ago, df_precp_sep, df_precp_oct, df_precp_nov, df_precp_dic ],axis=0, ignore_index=True)
df_precp

         Fecha       Magnitud      Zona       Estación  Valor
0   2021-01-01  Precipitación  Noroeste  Casa de Campo   0.00
1   2021-01-02  Precipitación  Noroeste  Casa de Campo   0.00
2   2021-01-03  Precipitación  Noroeste  Casa de Campo   0.00
3   2021-01-04  Precipitación  Noroeste  Casa de Campo   0.00
4   2021-01-05  Precipitación  Noroeste  Casa de Campo   0.00
..         ...            ...       ...            ...    ...
360 2021-12-27  Precipitación  Noroeste  Casa de Campo   0.01
361 2021-12-28  Precipitación  Noroeste  Casa de Campo   0.00
362 2021-12-29  Precipitación  Noroeste  Casa de Campo   0.00
363 2021-12-30  Precipitación  Noroeste  Casa de Campo   0.00
364 2021-12-31  Precipitación  Noroeste  Casa de Campo   0.00

[365 rows x 5 columns]

In [216]:
df_precp.drop(columns=['Magnitud', 'Zona', 'Estación'], inplace=True)

In [217]:
df_precp.rename(columns={'Valor': 'Precipitaciones'}, inplace=True)
df_precp.head()

       Fecha  Precipitaciones
0 2021-01-01              0.0
1 2021-01-02              0.0
2 2021-01-03              0.0
3 2021-01-04              0.0
4 2021-01-05              0.0

In [218]:
df_precp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 365 entries, 0 to 364
Data columns (total 2 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Fecha            365 non-null    datetime64[ns]
 1   Precipitaciones  365 non-null    float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 5.8 KB

## Datasets de radiación solar diaria año 2021

In [219]:
df_radia_solar_ene = pd.read_csv('C:/Users/rfg2m/Documents/DATA_SCIENCE/Entregas/Proyectos/MACHINE LEARNING/Data/raw/Data_21/radia_solar_ene_21.csv', sep=';', encoding='utf-8')
df_radia_solar_ene.head()

        Fecha         Magnitud      Zona       Estación  Valor
0  2021-01-01  Radiación solar  Noroeste  Casa de Campo     99
1  2021-01-02  Radiación solar  Noroeste  Casa de Campo     86
2  2021-01-03  Radiación solar  Noroeste  Casa de Campo    107
3  2021-01-04  Radiación solar  Noroeste  Casa de Campo     98
4  2021-01-05  Radiación solar  Noroeste  Casa de Campo    107

In [220]:
df_radia_solar_ene.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     31 non-null     object
 1   Magnitud  31 non-null     object
 2   Zona      31 non-null     object
 3   Estación  31 non-null     object
 4   Valor     31 non-null     int64
dtypes: int64(1), object(4)
memory usage: 1.3+ KB

In [221]:
df_radia_solar_ene["Fecha"] = pd.to_datetime(df_radia_solar_ene["Fecha"])
df_radia_solar_ene.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     31 non-null     datetime64[ns]
 1   Magnitud  31 non-null     object
 2   Zona      31 non-null     object
 3   Estación  31 non-null     object
 4   Valor     31 non-null     int64
dtypes: datetime64[ns](1), int64(1), object(3)
memory usage: 1.3+ KB

In [222]:
df_radia_solar_feb = pd.read_csv('C:/Users/rfg2m/Documents/DATA_SCIENCE/Entregas/Proyectos/MACHINE LEARNING/Data/raw/Data_21/radia_solar_feb_21.csv', sep=';', encoding='utf-8')
df_radia_solar_feb.head()

        Fecha         Magnitud      Zona       Estación  Valor
0  2021-02-01  Radiación solar  Noroeste  Casa de Campo  132.0
1  2021-02-02  Radiación solar  Noroeste  Casa de Campo   49.0
2  2021-02-03  Radiación solar  Noroeste  Casa de Campo   49.0
3  2021-02-04  Radiación solar  Noroeste  Casa de Campo   75.0
4  2021-02-05  Radiación solar  Noroeste  Casa de Campo  124.0

In [223]:
df_radia_solar_feb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28 entries, 0 to 27
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     28 non-null     object
 1   Magnitud  28 non-null     object
 2   Zona      28 non-null     object
 3   Estación  28 non-null     object
 4   Valor     27 non-null     float64
dtypes: float64(1), object(4)
memory usage: 1.2+ KB

In [224]:
df_radia_solar_feb["Fecha"] = pd.to_datetime(df_radia_solar_feb["Fecha"])
df_radia_solar_feb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28 entries, 0 to 27
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     28 non-null     datetime64[ns]
 1   Magnitud  28 non-null     object
 2   Zona      28 non-null     object
 3   Estación  28 non-null     object
 4   Valor     27 non-null     float64
dtypes: datetime64[ns](1), float64(1), object(3)
memory usage: 1.2+ KB

In [225]:
df_nulos = df_radia_solar_feb[df_radia_solar_feb.isnull().any(axis=1)]
print(df_nulos)

       Fecha         Magnitud      Zona       Estación  Valor
9 2021-02-10  Radiación solar  Noroeste  Casa de Campo    NaN

In [226]:
df_radia_solar_feb['Valor'] = df_radia_solar_feb['Valor'].fillna(df_radia_solar_feb['Valor'].mean())
df_radia_solar_feb.head(10)

       Fecha         Magnitud      Zona       Estación       Valor
0 2021-02-01  Radiación solar  Noroeste  Casa de Campo  132.000000
1 2021-02-02  Radiación solar  Noroeste  Casa de Campo   49.000000
2 2021-02-03  Radiación solar  Noroeste  Casa de Campo   49.000000
3 2021-02-04  Radiación solar  Noroeste  Casa de Campo   75.000000
4 2021-02-05  Radiación solar  Noroeste  Casa de Campo  124.000000
5 2021-02-06  Radiación solar  Noroeste  Casa de Campo   60.000000
6 2021-02-07  Radiación solar  Noroeste  Casa de Campo  123.000000
7 2021-02-08  Radiación solar  Noroeste  Casa de Campo  108.000000
8 2021-02-09  Radiación solar  Noroeste  Casa de Campo    1.000000
9 2021-02-10  Radiación solar  Noroeste  Casa de Campo  114.777778

In [227]:
df_radia_solar_feb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28 entries, 0 to 27
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     28 non-null     datetime64[ns]
 1   Magnitud  28 non-null     object
 2   Zona      28 non-null     object
 3   Estación  28 non-null     object
 4   Valor     28 non-null     float64
dtypes: datetime64[ns](1), float64(1), object(3)
memory usage: 1.2+ KB

In [228]:
df_radia_solar_mar = pd.read_csv('C:/Users/rfg2m/Documents/DATA_SCIENCE/Entregas/Proyectos/MACHINE LEARNING/Data/raw/Data_21/radia_solar_mar_21.csv', sep=';', encoding='utf-8')
df_radia_solar_mar.head()

        Fecha         Magnitud      Zona       Estación  Valor
0  2021-03-01  Radiación solar  Noroeste  Casa de Campo     14
1  2021-03-02  Radiación solar  Noroeste  Casa de Campo    106
2  2021-03-03  Radiación solar  Noroeste  Casa de Campo    110
3  2021-03-04  Radiación solar  Noroeste  Casa de Campo     81
4  2021-03-05  Radiación solar  Noroeste  Casa de Campo    142

In [229]:
df_radia_solar_mar.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     31 non-null     object
 1   Magnitud  31 non-null     object
 2   Zona      31 non-null     object
 3   Estación  31 non-null     object
 4   Valor     31 non-null     int64
dtypes: int64(1), object(4)
memory usage: 1.3+ KB

In [230]:
df_radia_solar_mar["Fecha"] = pd.to_datetime(df_radia_solar_mar["Fecha"])
df_radia_solar_mar.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     31 non-null     datetime64[ns]
 1   Magnitud  31 non-null     object
 2   Zona      31 non-null     object
 3   Estación  31 non-null     object
 4   Valor     31 non-null     int64
dtypes: datetime64[ns](1), int64(1), object(3)
memory usage: 1.3+ KB

In [231]:
df_radia_solar_abr = pd.read_csv('C:/Users/rfg2m/Documents/DATA_SCIENCE/Entregas/Proyectos/MACHINE LEARNING/Data/raw/Data_21/radia_solar_abr_21.csv', sep=';', encoding='utf-8')
df_radia_solar_abr.head()

        Fecha         Magnitud      Zona       Estación  Valor
0  2021-04-01  Radiación solar  Noroeste  Casa de Campo    203
1  2021-04-02  Radiación solar  Noroeste  Casa de Campo    121
2  2021-04-03  Radiación solar  Noroeste  Casa de Campo    192
3  2021-04-04  Radiación solar  Noroeste  Casa de Campo    269
4  2021-04-05  Radiación solar  Noroeste  Casa de Campo    271

In [232]:
df_radia_solar_abr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     30 non-null     object
 1   Magnitud  30 non-null     object
 2   Zona      30 non-null     object
 3   Estación  30 non-null     object
 4   Valor     30 non-null     int64
dtypes: int64(1), object(4)
memory usage: 1.3+ KB

In [233]:
df_radia_solar_abr["Fecha"] = pd.to_datetime(df_radia_solar_abr["Fecha"])
df_radia_solar_abr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     30 non-null     datetime64[ns]
 1   Magnitud  30 non-null     object
 2   Zona      30 non-null     object
 3   Estación  30 non-null     object
 4   Valor     30 non-null     int64
dtypes: datetime64[ns](1), int64(1), object(3)
memory usage: 1.3+ KB

In [234]:
df_radia_solar_may = pd.read_csv('C:/Users/rfg2m/Documents/DATA_SCIENCE/Entregas/Proyectos/MACHINE LEARNING/Data/raw/Data_21/radia_solar_may_21.csv', sep=';', encoding='utf-8')
df_radia_solar_may.head()

        Fecha         Magnitud      Zona       Estación  Valor
0  2021-05-01  Radiación solar  Noroeste  Casa de Campo    184
1  2021-05-02  Radiación solar  Noroeste  Casa de Campo    246
2  2021-05-03  Radiación solar  Noroeste  Casa de Campo    178
3  2021-05-04  Radiación solar  Noroeste  Casa de Campo    324
4  2021-05-05  Radiación solar  Noroeste  Casa de Campo    321

In [235]:
df_radia_solar_may.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     31 non-null     object
 1   Magnitud  31 non-null     object
 2   Zona      31 non-null     object
 3   Estación  31 non-null     object
 4   Valor     31 non-null     int64
dtypes: int64(1), object(4)
memory usage: 1.3+ KB

In [236]:
df_radia_solar_may["Fecha"] = pd.to_datetime(df_radia_solar_may["Fecha"])
df_radia_solar_may.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     31 non-null     datetime64[ns]
 1   Magnitud  31 non-null     object
 2   Zona      31 non-null     object
 3   Estación  31 non-null     object
 4   Valor     31 non-null     int64
dtypes: datetime64[ns](1), int64(1), object(3)
memory usage: 1.3+ KB

In [237]:
df_radia_solar_jun = pd.read_csv('C:/Users/rfg2m/Documents/DATA_SCIENCE/Entregas/Proyectos/MACHINE LEARNING/Data/raw/Data_21/radia_solar_jun_21.csv', sep=';', encoding='utf-8')
df_radia_solar_jun.head()

        Fecha         Magnitud      Zona       Estación  Valor
0  2021-06-01  Radiación solar  Noroeste  Casa de Campo  261.0
1  2021-06-02  Radiación solar  Noroeste  Casa de Campo  308.0
2  2021-06-03  Radiación solar  Noroeste  Casa de Campo  297.0
3  2021-06-04  Radiación solar  Noroeste  Casa de Campo  351.0
4  2021-06-05  Radiación solar  Noroeste  Casa de Campo  104.0

In [238]:
df_radia_solar_jun.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     30 non-null     object
 1   Magnitud  30 non-null     object
 2   Zona      30 non-null     object
 3   Estación  30 non-null     object
 4   Valor     23 non-null     float64
dtypes: float64(1), object(4)
memory usage: 1.3+ KB

In [239]:
df_radia_solar_jun["Fecha"] = pd.to_datetime(df_radia_solar_jun["Fecha"])
df_radia_solar_jun.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     30 non-null     datetime64[ns]
 1   Magnitud  30 non-null     object
 2   Zona      30 non-null     object
 3   Estación  30 non-null     object
 4   Valor     23 non-null     float64
dtypes: datetime64[ns](1), float64(1), object(3)
memory usage: 1.3+ KB

In [240]:
df_nulos = df_radia_solar_jun[df_radia_solar_jun.isnull().any(axis=1)]
print(df_nulos)

        Fecha         Magnitud      Zona       Estación  Valor
23 2021-06-24  Radiación solar  Noroeste  Casa de Campo    NaN
24 2021-06-25  Radiación solar  Noroeste  Casa de Campo    NaN
25 2021-06-26  Radiación solar  Noroeste  Casa de Campo    NaN
26 2021-06-27  Radiación solar  Noroeste  Casa de Campo    NaN
27 2021-06-28  Radiación solar  Noroeste  Casa de Campo    NaN
28 2021-06-29  Radiación solar  Noroeste  Casa de Campo    NaN
29 2021-06-30  Radiación solar  Noroeste  Casa de Campo    NaN

In [241]:
df_radia_solar_jun['Valor'] = df_radia_solar_jun['Valor'].fillna(df_radia_solar_jun['Valor'].mean())
df_radia_solar_jun.head(30)

        Fecha         Magnitud      Zona       Estación      Valor
0  2021-06-01  Radiación solar  Noroeste  Casa de Campo  261.00000
1  2021-06-02  Radiación solar  Noroeste  Casa de Campo  308.00000
2  2021-06-03  Radiación solar  Noroeste  Casa de Campo  297.00000
3  2021-06-04  Radiación solar  Noroeste  Casa de Campo  351.00000
4  2021-06-05  Radiación solar  Noroeste  Casa de Campo  104.00000
5  2021-06-06  Radiación solar  Noroeste  Casa de Campo  311.00000
6  2021-06-07  Radiación solar  Noroeste  Casa de Campo  334.00000
7  2021-06-08  Radiación solar  Noroeste  Casa de Campo  332.00000
8  2021-06-09  Radiación solar  Noroeste  Casa de Campo  353.00000
9  2021-06-10  Radiación solar  Noroeste  Casa de Campo  341.00000
10 2021-06-11  Radiación solar  Noroeste  Casa de Campo  303.00000
11 2021-06-12  Radiación solar  Noroeste  Casa de Campo  341.00000
12 2021-06-13  Radiación solar  Noroeste  Casa de Campo  308.00000
13 2021-06-14  Radiación solar  Noroeste  Casa de Campo  316.00000
14 2021-06-15  Radiación solar  Noroeste  Casa de Campo  275.00000
15 2021-06-16  Radiación solar  Noroeste  Casa de Campo  266.00000
16 2021-06-17  Radiación solar  Noroeste  Casa de Campo  142.00000
17 2021-06-18  Radiación solar  Noroeste  Casa de Campo  272.00000
18 2021-06-19  Radiación solar  Noroeste  Casa de Campo  314.00000
19 2021-06-20  Radiación solar  Noroeste  Casa de Campo  196.00000
20 2021-06-21  Radiación solar  Noroeste  Casa de Campo  316.00000
21 2021-06-22  Radiación solar  Noroeste  Casa de Campo  108.00000
22 2021-06-23  Radiación solar  Noroeste  Casa de Campo  159.00000
23 2021-06-24  Radiación solar  Noroeste  Casa de Campo  274.26087
24 2021-06-25  Radiación solar  Noroeste  Casa de Campo  274.26087
25 2021-06-26  Radiación solar  Noroeste  Casa de Campo  274.26087
26 2021-06-27  Radiación solar  Noroeste  Casa de Campo  274.26087
27 2021-06-28  Radiación solar  Noroeste  Casa de Campo  274.26087
28 2021-06-29  Radiación solar  Noroeste  Casa de Campo  274.26087
29 2021-06-30  Radiación solar  Noroeste  Casa de Campo  274.26087

In [242]:
df_radia_solar_jun.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     30 non-null     datetime64[ns]
 1   Magnitud  30 non-null     object
 2   Zona      30 non-null     object
 3   Estación  30 non-null     object
 4   Valor     30 non-null     float64
dtypes: datetime64[ns](1), float64(1), object(3)
memory usage: 1.3+ KB

In [243]:
df_radia_solar_jul = pd.read_csv('C:/Users/rfg2m/Documents/DATA_SCIENCE/Entregas/Proyectos/MACHINE LEARNING/Data/raw/Data_21/radia_solar_julio_21.csv', sep=';', encoding='utf-8')
df_radia_solar_jul.head()

        Fecha         Magnitud      Zona       Estación  Valor
0  2021-07-01  Radiación solar  Noroeste  Casa de Campo  524.0
1  2021-07-02  Radiación solar  Noroeste  Casa de Campo  362.0
2  2021-07-03  Radiación solar  Noroeste  Casa de Campo  340.0
3  2021-07-04  Radiación solar  Noroeste  Casa de Campo  356.0
4  2021-07-05  Radiación solar  Noroeste  Casa de Campo  357.0

In [244]:
df_radia_solar_jul.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     31 non-null     object
 1   Magnitud  31 non-null     object
 2   Zona      31 non-null     object
 3   Estación  31 non-null     object
 4   Valor     30 non-null     float64
dtypes: float64(1), object(4)
memory usage: 1.3+ KB

In [245]:
df_radia_solar_jul["Fecha"] = pd.to_datetime(df_radia_solar_jul["Fecha"])
df_radia_solar_jul.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     31 non-null     datetime64[ns]
 1   Magnitud  31 non-null     object
 2   Zona      31 non-null     object
 3   Estación  31 non-null     object
 4   Valor     30 non-null     float64
dtypes: datetime64[ns](1), float64(1), object(3)
memory usage: 1.3+ KB

In [246]:
df_nulos = df_radia_solar_jul[df_radia_solar_jul.isnull().any(axis=1)]
print(df_nulos)

        Fecha         Magnitud      Zona       Estación  Valor
10 2021-07-11  Radiación solar  Noroeste  Casa de Campo    NaN

In [247]:
df_radia_solar_jul['Valor'] = df_radia_solar_jul['Valor'].fillna(df_radia_solar_jul['Valor'].mean())
df_radia_solar_jul.head(11)

        Fecha         Magnitud      Zona       Estación       Valor
0  2021-07-01  Radiación solar  Noroeste  Casa de Campo  524.000000
1  2021-07-02  Radiación solar  Noroeste  Casa de Campo  362.000000
2  2021-07-03  Radiación solar  Noroeste  Casa de Campo  340.000000
3  2021-07-04  Radiación solar  Noroeste  Casa de Campo  356.000000
4  2021-07-05  Radiación solar  Noroeste  Casa de Campo  357.000000
5  2021-07-06  Radiación solar  Noroeste  Casa de Campo   64.000000
6  2021-07-07  Radiación solar  Noroeste  Casa de Campo  359.000000
7  2021-07-08  Radiación solar  Noroeste  Casa de Campo  355.000000
8  2021-07-09  Radiación solar  Noroeste  Casa de Campo  346.000000
9  2021-07-10  Radiación solar  Noroeste  Casa de Campo  399.000000
10 2021-07-11  Radiación solar  Noroeste  Casa de Campo  341.266667

In [248]:
df_radia_solar_jul.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     31 non-null     datetime64[ns]
 1   Magnitud  31 non-null     object
 2   Zona      31 non-null     object
 3   Estación  31 non-null     object
 4   Valor     31 non-null     float64
dtypes: datetime64[ns](1), float64(1), object(3)
memory usage: 1.3+ KB

In [249]:
df_radia_solar_ago= pd.read_csv('C:/Users/rfg2m/Documents/DATA_SCIENCE/Entregas/Proyectos/MACHINE LEARNING/Data/raw/Data_21/radia_solar_ago_21.csv', sep=';', encoding='utf-8')
df_radia_solar_ago.head()

        Fecha         Magnitud      Zona       Estación  Valor
0  2021-08-01  Radiación solar  Noroeste  Casa de Campo    319
1  2021-08-02  Radiación solar  Noroeste  Casa de Campo    315
2  2021-08-03  Radiación solar  Noroeste  Casa de Campo    298
3  2021-08-04  Radiación solar  Noroeste  Casa de Campo    319
4  2021-08-05  Radiación solar  Noroeste  Casa de Campo    320

In [250]:
df_radia_solar_ago.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     31 non-null     object
 1   Magnitud  31 non-null     object
 2   Zona      31 non-null     object
 3   Estación  31 non-null     object
 4   Valor     31 non-null     int64
dtypes: int64(1), object(4)
memory usage: 1.3+ KB

In [251]:
df_radia_solar_ago["Fecha"] = pd.to_datetime(df_radia_solar_ago["Fecha"])
df_radia_solar_ago.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     31 non-null     datetime64[ns]
 1   Magnitud  31 non-null     object
 2   Zona      31 non-null     object
 3   Estación  31 non-null     object
 4   Valor     31 non-null     int64
dtypes: datetime64[ns](1), int64(1), object(3)
memory usage: 1.3+ KB

In [253]:
df_radia_solar_sep = pd.read_csv('C:/Users/rfg2m/Documents/DATA_SCIENCE/Entregas/Proyectos/MACHINE LEARNING/Data/raw/Data_21/radia_solar_sep_21.csv', sep=';', encoding='utf-8')
df_radia_solar_sep.head()

        Fecha         Magnitud      Zona       Estación  Valor
0  2021-09-01  Radiación solar  Noroeste  Casa de Campo    103
1  2021-09-02  Radiación solar  Noroeste  Casa de Campo    194
2  2021-09-03  Radiación solar  Noroeste  Casa de Campo    248
3  2021-09-04  Radiación solar  Noroeste  Casa de Campo    264
4  2021-09-05  Radiación solar  Noroeste  Casa de Campo    255

In [254]:
df_radia_solar_sep.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     30 non-null     object
 1   Magnitud  30 non-null     object
 2   Zona      30 non-null     object
 3   Estación  30 non-null     object
 4   Valor     30 non-null     int64
dtypes: int64(1), object(4)
memory usage: 1.3+ KB

In [255]:
df_radia_solar_sep["Fecha"] = pd.to_datetime(df_radia_solar_sep["Fecha"])
df_radia_solar_sep.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     30 non-null     datetime64[ns]
 1   Magnitud  30 non-null     object
 2   Zona      30 non-null     object
 3   Estación  30 non-null     object
 4   Valor     30 non-null     int64
dtypes: datetime64[ns](1), int64(1), object(3)
memory usage: 1.3+ KB

In [256]:
df_radia_solar_oct = pd.read_csv('C:/Users/rfg2m/Documents/DATA_SCIENCE/Entregas/Proyectos/MACHINE LEARNING/Data/raw/Data_21/radia_solar_oct_21.csv', sep=';', encoding='utf-8')
df_radia_solar_oct.head()

        Fecha         Magnitud      Zona       Estación  Valor
0  2021-10-01  Radiación solar  Noroeste  Casa de Campo    152
1  2021-10-02  Radiación solar  Noroeste  Casa de Campo    190
2  2021-10-03  Radiación solar  Noroeste  Casa de Campo     74
3  2021-10-04  Radiación solar  Noroeste  Casa de Campo    181
4  2021-10-05  Radiación solar  Noroeste  Casa de Campo    150

In [257]:
df_radia_solar_oct.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     31 non-null     object
 1   Magnitud  31 non-null     object
 2   Zona      31 non-null     object
 3   Estación  31 non-null     object
 4   Valor     31 non-null     int64
dtypes: int64(1), object(4)
memory usage: 1.3+ KB

In [258]:
df_radia_solar_oct["Fecha"] = pd.to_datetime(df_radia_solar_oct["Fecha"])
df_radia_solar_oct.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     31 non-null     datetime64[ns]
 1   Magnitud  31 non-null     object
 2   Zona      31 non-null     object
 3   Estación  31 non-null     object
 4   Valor     31 non-null     int64
dtypes: datetime64[ns](1), int64(1), object(3)
memory usage: 1.3+ KB

In [259]:
df_radia_solar_nov = pd.read_csv('C:/Users/rfg2m/Documents/DATA_SCIENCE/Entregas/Proyectos/MACHINE LEARNING/Data/raw/Data_21/radia_solar_nov_21.csv', sep=';', encoding='utf-8')
df_radia_solar_nov.head()

        Fecha         Magnitud      Zona       Estación  Valor
0  2021-11-01  Radiación solar  Noroeste  Casa de Campo    141
1  2021-11-02  Radiación solar  Noroeste  Casa de Campo     10
2  2021-11-03  Radiación solar  Noroeste  Casa de Campo    122
3  2021-11-04  Radiación solar  Noroeste  Casa de Campo    108
4  2021-11-05  Radiación solar  Noroeste  Casa de Campo    147

In [260]:
df_radia_solar_nov.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     30 non-null     object
 1   Magnitud  30 non-null     object
 2   Zona      30 non-null     object
 3   Estación  30 non-null     object
 4   Valor     30 non-null     int64
dtypes: int64(1), object(4)
memory usage: 1.3+ KB

In [261]:
df_radia_solar_nov["Fecha"] = pd.to_datetime(df_radia_solar_nov["Fecha"])
df_radia_solar_nov.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     30 non-null     datetime64[ns]
 1   Magnitud  30 non-null     object
 2   Zona      30 non-null     object
 3   Estación  30 non-null     object
 4   Valor     30 non-null     int64
dtypes: datetime64[ns](1), int64(1), object(3)
memory usage: 1.3+ KB

In [262]:
df_radia_solar_dic = pd.read_csv('C:/Users/rfg2m/Documents/DATA_SCIENCE/Entregas/Proyectos/MACHINE LEARNING/Data/raw/Data_21/radia_solar_dic_21.csv', sep=';', encoding='utf-8')
df_radia_solar_dic.head()

        Fecha         Magnitud      Zona       Estación  Valor
0  2021-12-01  Radiación solar  Noroeste  Casa de Campo     73
1  2021-12-02  Radiación solar  Noroeste  Casa de Campo    108
2  2021-12-03  Radiación solar  Noroeste  Casa de Campo    106
3  2021-12-04  Radiación solar  Noroeste  Casa de Campo     69
4  2021-12-05  Radiación solar  Noroeste  Casa de Campo     89

In [263]:
df_radia_solar_dic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     31 non-null     object
 1   Magnitud  31 non-null     object
 2   Zona      31 non-null     object
 3   Estación  31 non-null     object
 4   Valor     31 non-null     int64
dtypes: int64(1), object(4)
memory usage: 1.3+ KB

In [264]:
df_radia_solar_dic["Fecha"] = pd.to_datetime(df_radia_solar_dic["Fecha"])
df_radia_solar_dic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     31 non-null     datetime64[ns]
 1   Magnitud  31 non-null     object
 2   Zona      31 non-null     object
 3   Estación  31 non-null     object
 4   Valor     31 non-null     int64
dtypes: datetime64[ns](1), int64(1), object(3)
memory usage: 1.3+ KB

In [265]:
df_radia_solar = pd.concat([df_radia_solar_ene, df_radia_solar_feb, df_radia_solar_mar, df_radia_solar_abr, df_radia_solar_may, df_radia_solar_jun, df_radia_solar_jul, df_radia_solar_ago, df_radia_solar_sep, df_radia_solar_oct, df_radia_solar_nov, df_radia_solar_dic ],axis=0, ignore_index=True)
df_radia_solar.head(13)

        Fecha         Magnitud      Zona       Estación  Valor
0  2021-01-01  Radiación solar  Noroeste  Casa de Campo   99.0
1  2021-01-02  Radiación solar  Noroeste  Casa de Campo   86.0
2  2021-01-03  Radiación solar  Noroeste  Casa de Campo  107.0
3  2021-01-04  Radiación solar  Noroeste  Casa de Campo   98.0
4  2021-01-05  Radiación solar  Noroeste  Casa de Campo  107.0
5  2021-01-06  Radiación solar  Noroeste  Casa de Campo  106.0
6  2021-01-07  Radiación solar  Noroeste  Casa de Campo   15.0
7  2021-01-08  Radiación solar  Noroeste  Casa de Campo   17.0
8  2021-01-09  Radiación solar  Noroeste  Casa de Campo    1.0
9  2021-01-10  Radiación solar  Noroeste  Casa de Campo  162.0
10 2021-01-11  Radiación solar  Noroeste  Casa de Campo  120.0
11 2021-01-12  Radiación solar  Noroeste  Casa de Campo  129.0
12 2021-01-13  Radiación solar  Noroeste  Casa de Campo  124.0

In [266]:
df_radia_solar.drop(columns=['Magnitud', 'Zona', 'Estación'], inplace=True)

In [267]:
df_radia_solar.rename(columns={'Valor': 'Radiación_Solar'}, inplace=True)
df_radia_solar

         Fecha  Radiación_Solar
0   2021-01-01             99.0
1   2021-01-02             86.0
2   2021-01-03            107.0
3   2021-01-04             98.0
4   2021-01-05            107.0
..         ...              ...
360 2021-12-27             90.0
361 2021-12-28             91.0
362 2021-12-29             81.0
363 2021-12-30             99.0
364 2021-12-31            101.0

[365 rows x 2 columns]

In [268]:
df_radia_solar.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 365 entries, 0 to 364
Data columns (total 2 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Fecha            365 non-null    datetime64[ns]
 1   Radiación_Solar  365 non-null    float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 5.8 KB

## Datasets de humedad relativa diaria año 2024

In [269]:
df_hum_rel_ene = pd.read_csv('C:/Users/rfg2m/Documents/DATA_SCIENCE/Entregas/Proyectos/MACHINE LEARNING/Data/raw/Data_21/hum_rel_ene_21.csv', sep=';', encoding='utf-8')
df_hum_rel_ene.head()

        Fecha          Magnitud      Zona       Estación  Valor
0  2021-01-01  Humedad relativa  Noroeste  Casa de Campo     72
1  2021-01-02  Humedad relativa  Noroeste  Casa de Campo     60
2  2021-01-03  Humedad relativa  Noroeste  Casa de Campo     68
3  2021-01-04  Humedad relativa  Noroeste  Casa de Campo     65
4  2021-01-05  Humedad relativa  Noroeste  Casa de Campo     73

In [270]:
df_hum_rel_ene.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     31 non-null     object
 1   Magnitud  31 non-null     object
 2   Zona      31 non-null     object
 3   Estación  31 non-null     object
 4   Valor     31 non-null     int64
dtypes: int64(1), object(4)
memory usage: 1.3+ KB

In [271]:
df_hum_rel_ene["Fecha"] = pd.to_datetime(df_radia_solar_dic["Fecha"])
df_radia_solar_ene.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     31 non-null     datetime64[ns]
 1   Magnitud  31 non-null     object
 2   Zona      31 non-null     object
 3   Estación  31 non-null     object
 4   Valor     31 non-null     int64
dtypes: datetime64[ns](1), int64(1), object(3)
memory usage: 1.3+ KB

In [273]:
df_hum_rel_feb = pd.read_csv('C:/Users/rfg2m/Documents/DATA_SCIENCE/Entregas/Proyectos/MACHINE LEARNING/Data/raw/Data_21/hum_rel_feb_21.csv', sep=';', encoding='utf-8')
df_hum_rel_feb.head()

        Fecha          Magnitud      Zona       Estación  Valor
0  2021-02-01  Humedad relativa  Noroeste  Casa de Campo   73.0
1  2021-02-02  Humedad relativa  Noroeste  Casa de Campo   91.0
2  2021-02-03  Humedad relativa  Noroeste  Casa de Campo   88.0
3  2021-02-04  Humedad relativa  Noroeste  Casa de Campo   85.0
4  2021-02-05  Humedad relativa  Noroeste  Casa de Campo   75.0

In [274]:
df_hum_rel_feb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28 entries, 0 to 27
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     28 non-null     object
 1   Magnitud  28 non-null     object
 2   Zona      28 non-null     object
 3   Estación  28 non-null     object
 4   Valor     27 non-null     float64
dtypes: float64(1), object(4)
memory usage: 1.2+ KB

In [275]:
df_hum_rel_feb["Fecha"] = pd.to_datetime(df_hum_rel_feb["Fecha"])
df_hum_rel_feb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28 entries, 0 to 27
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     28 non-null     datetime64[ns]
 1   Magnitud  28 non-null     object
 2   Zona      28 non-null     object
 3   Estación  28 non-null     object
 4   Valor     27 non-null     float64
dtypes: datetime64[ns](1), float64(1), object(3)
memory usage: 1.2+ KB

In [276]:
df_nulos = df_hum_rel_feb[df_hum_rel_feb.isnull().any(axis=1)]
print(df_nulos)

       Fecha          Magnitud      Zona       Estación  Valor
9 2021-02-10  Humedad relativa  Noroeste  Casa de Campo    NaN

In [277]:
df_hum_rel_feb['Valor'] = df_hum_rel_feb['Valor'].fillna(df_hum_rel_feb['Valor'].mean())
df_hum_rel_feb.head(10)

       Fecha          Magnitud      Zona       Estación  Valor
0 2021-02-01  Humedad relativa  Noroeste  Casa de Campo   73.0
1 2021-02-02  Humedad relativa  Noroeste  Casa de Campo   91.0
2 2021-02-03  Humedad relativa  Noroeste  Casa de Campo   88.0
3 2021-02-04  Humedad relativa  Noroeste  Casa de Campo   85.0
4 2021-02-05  Humedad relativa  Noroeste  Casa de Campo   75.0
5 2021-02-06  Humedad relativa  Noroeste  Casa de Campo   91.0
6 2021-02-07  Humedad relativa  Noroeste  Casa de Campo   81.0
7 2021-02-08  Humedad relativa  Noroeste  Casa de Campo   90.0
8 2021-02-09  Humedad relativa  Noroeste  Casa de Campo   96.0
9 2021-02-10  Humedad relativa  Noroeste  Casa de Campo   77.0

In [278]:
df_hum_rel_feb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28 entries, 0 to 27
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     28 non-null     datetime64[ns]
 1   Magnitud  28 non-null     object
 2   Zona      28 non-null     object
 3   Estación  28 non-null     object
 4   Valor     28 non-null     float64
dtypes: datetime64[ns](1), float64(1), object(3)
memory usage: 1.2+ KB

In [279]:
df_hum_rel_mar = pd.read_csv('C:/Users/rfg2m/Documents/DATA_SCIENCE/Entregas/Proyectos/MACHINE LEARNING/Data/raw/Data_21/hum_rel_mar_21.csv', sep=';', encoding='utf-8')
df_hum_rel_mar.head()

        Fecha          Magnitud      Zona       Estación  Valor
0  2021-03-01  Humedad relativa  Noroeste  Casa de Campo     75
1  2021-03-02  Humedad relativa  Noroeste  Casa de Campo     69
2  2021-03-03  Humedad relativa  Noroeste  Casa de Campo     74
3  2021-03-04  Humedad relativa  Noroeste  Casa de Campo     85
4  2021-03-05  Humedad relativa  Noroeste  Casa de Campo     76

In [280]:
df_hum_rel_mar.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     31 non-null     object
 1   Magnitud  31 non-null     object
 2   Zona      31 non-null     object
 3   Estación  31 non-null     object
 4   Valor     31 non-null     int64
dtypes: int64(1), object(4)
memory usage: 1.3+ KB

In [281]:
df_hum_rel_mar["Fecha"] = pd.to_datetime(df_hum_rel_mar["Fecha"])
df_hum_rel_mar.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     31 non-null     datetime64[ns]
 1   Magnitud  31 non-null     object
 2   Zona      31 non-null     object
 3   Estación  31 non-null     object
 4   Valor     31 non-null     int64
dtypes: datetime64[ns](1), int64(1), object(3)
memory usage: 1.3+ KB

In [282]:
df_hum_rel_abr = pd.read_csv('C:/Users/rfg2m/Documents/DATA_SCIENCE/Entregas/Proyectos/MACHINE LEARNING/Data/raw/Data_21/hum_rel_abr_21.csv', sep=';', encoding='utf-8')
df_hum_rel_abr.head()

        Fecha          Magnitud      Zona       Estación  Valor
0  2021-04-01  Humedad relativa  Noroeste  Casa de Campo     38
1  2021-04-02  Humedad relativa  Noroeste  Casa de Campo     83
2  2021-04-03  Humedad relativa  Noroeste  Casa de Campo     77
3  2021-04-04  Humedad relativa  Noroeste  Casa de Campo     50
4  2021-04-05  Humedad relativa  Noroeste  Casa de Campo     48

In [283]:
df_hum_rel_abr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     30 non-null     object
 1   Magnitud  30 non-null     object
 2   Zona      30 non-null     object
 3   Estación  30 non-null     object
 4   Valor     30 non-null     int64
dtypes: int64(1), object(4)
memory usage: 1.3+ KB

In [284]:
df_hum_rel_abr["Fecha"] = pd.to_datetime(df_hum_rel_abr["Fecha"])
df_hum_rel_abr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     30 non-null     datetime64[ns]
 1   Magnitud  30 non-null     object
 2   Zona      30 non-null     object
 3   Estación  30 non-null     object
 4   Valor     30 non-null     int64
dtypes: datetime64[ns](1), int64(1), object(3)
memory usage: 1.3+ KB

In [285]:
df_hum_rel_may = pd.read_csv('C:/Users/rfg2m/Documents/DATA_SCIENCE/Entregas/Proyectos/MACHINE LEARNING/Data/raw/Data_21/hum_rel_may_21.csv', sep=';', encoding='utf-8')
df_hum_rel_may.head()

        Fecha          Magnitud      Zona       Estación  Valor
0  2021-05-01  Humedad relativa  Noroeste  Casa de Campo     62
1  2021-05-02  Humedad relativa  Noroeste  Casa de Campo     55
2  2021-05-03  Humedad relativa  Noroeste  Casa de Campo     64
3  2021-05-04  Humedad relativa  Noroeste  Casa de Campo     62
4  2021-05-05  Humedad relativa  Noroeste  Casa de Campo     47

In [286]:
df_hum_rel_may.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     31 non-null     object
 1   Magnitud  31 non-null     object
 2   Zona      31 non-null     object
 3   Estación  31 non-null     object
 4   Valor     31 non-null     int64
dtypes: int64(1), object(4)
memory usage: 1.3+ KB

In [287]:
df_hum_rel_may["Fecha"] = pd.to_datetime(df_hum_rel_may["Fecha"])
df_hum_rel_may.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     31 non-null     datetime64[ns]
 1   Magnitud  31 non-null     object
 2   Zona      31 non-null     object
 3   Estación  31 non-null     object
 4   Valor     31 non-null     int64
dtypes: datetime64[ns](1), int64(1), object(3)
memory usage: 1.3+ KB

In [288]:
df_hum_rel_jun = pd.read_csv('C:/Users/rfg2m/Documents/DATA_SCIENCE/Entregas/Proyectos/MACHINE LEARNING/Data/raw/Data_21/hum_rel_jun_21.csv', sep=';', encoding='utf-8')
df_hum_rel_jun.head()

        Fecha          Magnitud      Zona       Estación  Valor
0  2021-06-01  Humedad relativa  Noroeste  Casa de Campo   69.0
1  2021-06-02  Humedad relativa  Noroeste  Casa de Campo   57.0
2  2021-06-03  Humedad relativa  Noroeste  Casa de Campo   50.0
3  2021-06-04  Humedad relativa  Noroeste  Casa de Campo   39.0
4  2021-06-05  Humedad relativa  Noroeste  Casa de Campo   67.0

In [289]:
df_hum_rel_jun.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     30 non-null     object
 1   Magnitud  30 non-null     object
 2   Zona      30 non-null     object
 3   Estación  30 non-null     object
 4   Valor     23 non-null     float64
dtypes: float64(1), object(4)
memory usage: 1.3+ KB

In [290]:
df_hum_rel_jun["Fecha"] = pd.to_datetime(df_hum_rel_jun["Fecha"])
df_hum_rel_jun.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     30 non-null     datetime64[ns]
 1   Magnitud  30 non-null     object
 2   Zona      30 non-null     object
 3   Estación  30 non-null     object
 4   Valor     23 non-null     float64
dtypes: datetime64[ns](1), float64(1), object(3)
memory usage: 1.3+ KB

In [291]:
df_nulos = df_hum_rel_jun[df_hum_rel_jun.isnull().any(axis=1)]
print(df_nulos)

        Fecha          Magnitud      Zona       Estación  Valor
23 2021-06-24  Humedad relativa  Noroeste  Casa de Campo    NaN
24 2021-06-25  Humedad relativa  Noroeste  Casa de Campo    NaN
25 2021-06-26  Humedad relativa  Noroeste  Casa de Campo    NaN
26 2021-06-27  Humedad relativa  Noroeste  Casa de Campo    NaN
27 2021-06-28  Humedad relativa  Noroeste  Casa de Campo    NaN
28 2021-06-29  Humedad relativa  Noroeste  Casa de Campo    NaN
29 2021-06-30  Humedad relativa  Noroeste  Casa de Campo    NaN

In [292]:
df_hum_rel_jun['Valor'] = df_hum_rel_jun['Valor'].fillna(df_hum_rel_jun['Valor'].mean())
df_hum_rel_jun.head(30)

        Fecha          Magnitud      Zona       Estación      Valor
0  2021-06-01  Humedad relativa  Noroeste  Casa de Campo  69.000000
1  2021-06-02  Humedad relativa  Noroeste  Casa de Campo  57.000000
2  2021-06-03  Humedad relativa  Noroeste  Casa de Campo  50.000000
3  2021-06-04  Humedad relativa  Noroeste  Casa de Campo  39.000000
4  2021-06-05  Humedad relativa  Noroeste  Casa de Campo  67.000000
5  2021-06-06  Humedad relativa  Noroeste  Casa de Campo  58.000000
6  2021-06-07  Humedad relativa  Noroeste  Casa de Campo  39.000000
7  2021-06-08  Humedad relativa  Noroeste  Casa de Campo  34.000000
8  2021-06-09  Humedad relativa  Noroeste  Casa de Campo  29.000000
9  2021-06-10  Humedad relativa  Noroeste  Casa de Campo  35.000000
10 2021-06-11  Humedad relativa  Noroeste  Casa de Campo  43.000000
11 2021-06-12  Humedad relativa  Noroeste  Casa de Campo  48.000000
12 2021-06-13  Humedad relativa  Noroeste  Casa de Campo  40.000000
13 2021-06-14  Humedad relativa  Noroeste  Casa de Campo  37.000000
14 2021-06-15  Humedad relativa  Noroeste  Casa de Campo  36.000000
15 2021-06-16  Humedad relativa  Noroeste  Casa de Campo  46.000000
16 2021-06-17  Humedad relativa  Noroeste  Casa de Campo  80.000000
17 2021-06-18  Humedad relativa  Noroeste  Casa de Campo  71.000000
18 2021-06-19  Humedad relativa  Noroeste  Casa de Campo  57.000000
19 2021-06-20  Humedad relativa  Noroeste  Casa de Campo  70.000000
20 2021-06-21  Humedad relativa  Noroeste  Casa de Campo  62.000000
21 2021-06-22  Humedad relativa  Noroeste  Casa de Campo  63.000000
22 2021-06-23  Humedad relativa  Noroeste  Casa de Campo  73.000000
23 2021-06-24  Humedad relativa  Noroeste  Casa de Campo  52.304348
24 2021-06-25  Humedad relativa  Noroeste  Casa de Campo  52.304348
25 2021-06-26  Humedad relativa  Noroeste  Casa de Campo  52.304348
26 2021-06-27  Humedad relativa  Noroeste  Casa de Campo  52.304348
27 2021-06-28  Humedad relativa  Noroeste  Casa de Campo  52.304348
28 2021-06-29  Humedad relativa  Noroeste  Casa de Campo  52.304348
29 2021-06-30  Humedad relativa  Noroeste  Casa de Campo  52.304348

In [293]:
df_hum_rel_jun.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     30 non-null     datetime64[ns]
 1   Magnitud  30 non-null     object
 2   Zona      30 non-null     object
 3   Estación  30 non-null     object
 4   Valor     30 non-null     float64
dtypes: datetime64[ns](1), float64(1), object(3)
memory usage: 1.3+ KB

In [294]:
df_hum_rel_jul = pd.read_csv('C:/Users/rfg2m/Documents/DATA_SCIENCE/Entregas/Proyectos/MACHINE LEARNING/Data/raw/Data_21/hum_rel_jul_21.csv', sep=';', encoding='utf-8')
df_hum_rel_jul.head()

        Fecha          Magnitud      Zona       Estación  Valor
0  2021-07-01  Humedad relativa  Noroeste  Casa de Campo   17.0
1  2021-07-02  Humedad relativa  Noroeste  Casa de Campo   25.0
2  2021-07-03  Humedad relativa  Noroeste  Casa de Campo   35.0
3  2021-07-04  Humedad relativa  Noroeste  Casa de Campo   40.0
4  2021-07-05  Humedad relativa  Noroeste  Casa de Campo   41.0

In [295]:
df_hum_rel_jul.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     31 non-null     object
 1   Magnitud  31 non-null     object
 2   Zona      31 non-null     object
 3   Estación  31 non-null     object
 4   Valor     30 non-null     float64
dtypes: float64(1), object(4)
memory usage: 1.3+ KB

In [296]:
df_hum_rel_jul["Fecha"] = pd.to_datetime(df_hum_rel_jul["Fecha"])
df_hum_rel_jul.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     31 non-null     datetime64[ns]
 1   Magnitud  31 non-null     object
 2   Zona      31 non-null     object
 3   Estación  31 non-null     object
 4   Valor     30 non-null     float64
dtypes: datetime64[ns](1), float64(1), object(3)
memory usage: 1.3+ KB

In [297]:
df_nulos = df_hum_rel_jul[df_hum_rel_jul.isnull().any(axis=1)]
print(df_nulos)

        Fecha          Magnitud      Zona       Estación  Valor
10 2021-07-11  Humedad relativa  Noroeste  Casa de Campo    NaN

In [298]:
df_hum_rel_jul['Valor'] = df_hum_rel_jul['Valor'].fillna(df_hum_rel_jul['Valor'].mean())
df_hum_rel_jul.head(11)

        Fecha          Magnitud      Zona       Estación      Valor
0  2021-07-01  Humedad relativa  Noroeste  Casa de Campo  17.000000
1  2021-07-02  Humedad relativa  Noroeste  Casa de Campo  25.000000
2  2021-07-03  Humedad relativa  Noroeste  Casa de Campo  35.000000
3  2021-07-04  Humedad relativa  Noroeste  Casa de Campo  40.000000
4  2021-07-05  Humedad relativa  Noroeste  Casa de Campo  41.000000
5  2021-07-06  Humedad relativa  Noroeste  Casa de Campo  62.000000
6  2021-07-07  Humedad relativa  Noroeste  Casa de Campo  49.000000
7  2021-07-08  Humedad relativa  Noroeste  Casa de Campo  39.000000
8  2021-07-09  Humedad relativa  Noroeste  Casa de Campo  37.000000
9  2021-07-10  Humedad relativa  Noroeste  Casa de Campo  39.000000
10 2021-07-11  Humedad relativa  Noroeste  Casa de Campo  35.466667

In [299]:
df_hum_rel_jul.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     31 non-null     datetime64[ns]
 1   Magnitud  31 non-null     object
 2   Zona      31 non-null     object
 3   Estación  31 non-null     object
 4   Valor     31 non-null     float64
dtypes: datetime64[ns](1), float64(1), object(3)
memory usage: 1.3+ KB

In [300]:
df_hum_rel_ago = pd.read_csv('C:/Users/rfg2m/Documents/DATA_SCIENCE/Entregas/Proyectos/MACHINE LEARNING/Data/raw/Data_21/hum_rel_ago_21.csv', sep=';', encoding='utf-8')
df_hum_rel_ago.head()

        Fecha          Magnitud      Zona       Estación  Valor
0  2021-08-01  Humedad relativa  Noroeste  Casa de Campo     46
1  2021-08-02  Humedad relativa  Noroeste  Casa de Campo     36
2  2021-08-03  Humedad relativa  Noroeste  Casa de Campo     41
3  2021-08-04  Humedad relativa  Noroeste  Casa de Campo     37
4  2021-08-05  Humedad relativa  Noroeste  Casa de Campo     29

In [301]:
df_hum_rel_ago.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     31 non-null     object
 1   Magnitud  31 non-null     object
 2   Zona      31 non-null     object
 3   Estación  31 non-null     object
 4   Valor     31 non-null     int64
dtypes: int64(1), object(4)
memory usage: 1.3+ KB

In [302]:
df_hum_rel_ago["Fecha"] = pd.to_datetime(df_hum_rel_ago["Fecha"])
df_hum_rel_ago.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     31 non-null     datetime64[ns]
 1   Magnitud  31 non-null     object
 2   Zona      31 non-null     object
 3   Estación  31 non-null     object
 4   Valor     31 non-null     int64
dtypes: datetime64[ns](1), int64(1), object(3)
memory usage: 1.3+ KB

In [303]:
df_hum_rel_sep = pd.read_csv('C:/Users/rfg2m/Documents/DATA_SCIENCE/Entregas/Proyectos/MACHINE LEARNING/Data/raw/Data_21/hum_rel_sep_21.csv', sep=';', encoding='utf-8')
df_hum_rel_sep.head()

        Fecha          Magnitud      Zona       Estación  Valor
0  2021-09-01  Humedad relativa  Noroeste  Casa de Campo     81
1  2021-09-02  Humedad relativa  Noroeste  Casa de Campo     77
2  2021-09-03  Humedad relativa  Noroeste  Casa de Campo     64
3  2021-09-04  Humedad relativa  Noroeste  Casa de Campo     50
4  2021-09-05  Humedad relativa  Noroeste  Casa de Campo     48

In [304]:
df_hum_rel_sep.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     30 non-null     object
 1   Magnitud  30 non-null     object
 2   Zona      30 non-null     object
 3   Estación  30 non-null     object
 4   Valor     30 non-null     int64
dtypes: int64(1), object(4)
memory usage: 1.3+ KB

In [305]:
df_hum_rel_sep["Fecha"] = pd.to_datetime(df_hum_rel_sep["Fecha"])
df_hum_rel_sep.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     30 non-null     datetime64[ns]
 1   Magnitud  30 non-null     object
 2   Zona      30 non-null     object
 3   Estación  30 non-null     object
 4   Valor     30 non-null     int64
dtypes: datetime64[ns](1), int64(1), object(3)
memory usage: 1.3+ KB

In [306]:
df_hum_rel_oct = pd.read_csv('C:/Users/rfg2m/Documents/DATA_SCIENCE/Entregas/Proyectos/MACHINE LEARNING/Data/raw/Data_21/hum_rel_oct_21.csv', sep=';', encoding='utf-8')
df_hum_rel_oct.head()

        Fecha          Magnitud      Zona       Estación  Valor
0  2021-10-01  Humedad relativa  Noroeste  Casa de Campo     60
1  2021-10-02  Humedad relativa  Noroeste  Casa de Campo     57
2  2021-10-03  Humedad relativa  Noroeste  Casa de Campo     72
3  2021-10-04  Humedad relativa  Noroeste  Casa de Campo     59
4  2021-10-05  Humedad relativa  Noroeste  Casa de Campo     63

In [307]:
df_hum_rel_oct.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     31 non-null     object
 1   Magnitud  31 non-null     object
 2   Zona      31 non-null     object
 3   Estación  31 non-null     object
 4   Valor     31 non-null     int64
dtypes: int64(1), object(4)
memory usage: 1.3+ KB

In [308]:
df_hum_rel_oct["Fecha"] = pd.to_datetime(df_hum_rel_oct["Fecha"])
df_hum_rel_oct.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     31 non-null     datetime64[ns]
 1   Magnitud  31 non-null     object
 2   Zona      31 non-null     object
 3   Estación  31 non-null     object
 4   Valor     31 non-null     int64
dtypes: datetime64[ns](1), int64(1), object(3)
memory usage: 1.3+ KB

In [309]:
df_hum_rel_nov = pd.read_csv('C:/Users/rfg2m/Documents/DATA_SCIENCE/Entregas/Proyectos/MACHINE LEARNING/Data/raw/Data_21/hum_rel_nov_21.csv', sep=';', encoding='utf-8')
df_hum_rel_nov.head()

        Fecha          Magnitud      Zona       Estación  Valor
0  2021-11-01  Humedad relativa  Noroeste  Casa de Campo     73
1  2021-11-02  Humedad relativa  Noroeste  Casa de Campo     80
2  2021-11-03  Humedad relativa  Noroeste  Casa de Campo     67
3  2021-11-04  Humedad relativa  Noroeste  Casa de Campo     70
4  2021-11-05  Humedad relativa  Noroeste  Casa de Campo     66

In [310]:
df_hum_rel_nov.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     30 non-null     object
 1   Magnitud  30 non-null     object
 2   Zona      30 non-null     object
 3   Estación  30 non-null     object
 4   Valor     30 non-null     int64
dtypes: int64(1), object(4)
memory usage: 1.3+ KB

In [311]:
df_hum_rel_nov["Fecha"] = pd.to_datetime(df_hum_rel_nov["Fecha"])
df_hum_rel_nov.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     30 non-null     datetime64[ns]
 1   Magnitud  30 non-null     object
 2   Zona      30 non-null     object
 3   Estación  30 non-null     object
 4   Valor     30 non-null     int64
dtypes: datetime64[ns](1), int64(1), object(3)
memory usage: 1.3+ KB

In [312]:
df_hum_rel_dic = pd.read_csv('C:/Users/rfg2m/Documents/DATA_SCIENCE/Entregas/Proyectos/MACHINE LEARNING/Data/raw/Data_21/hum_rel_dic_21.csv', sep=';', encoding='utf-8')
df_hum_rel_dic.head()

        Fecha          Magnitud      Zona       Estación  Valor
0  2021-12-01  Humedad relativa  Noroeste  Casa de Campo     87
1  2021-12-02  Humedad relativa  Noroeste  Casa de Campo     61
2  2021-12-03  Humedad relativa  Noroeste  Casa de Campo     63
3  2021-12-04  Humedad relativa  Noroeste  Casa de Campo     81
4  2021-12-05  Humedad relativa  Noroeste  Casa de Campo     59

In [313]:
df_hum_rel_dic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     31 non-null     object
 1   Magnitud  31 non-null     object
 2   Zona      31 non-null     object
 3   Estación  31 non-null     object
 4   Valor     31 non-null     int64
dtypes: int64(1), object(4)
memory usage: 1.3+ KB

In [314]:
df_hum_rel_dic["Fecha"] = pd.to_datetime(df_hum_rel_dic["Fecha"])
df_hum_rel_dic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     31 non-null     datetime64[ns]
 1   Magnitud  31 non-null     object
 2   Zona      31 non-null     object
 3   Estación  31 non-null     object
 4   Valor     31 non-null     int64
dtypes: datetime64[ns](1), int64(1), object(3)
memory usage: 1.3+ KB

In [315]:
df_hum_rel = pd.concat([df_hum_rel_ene, df_hum_rel_feb, df_hum_rel_mar, df_hum_rel_abr, df_hum_rel_may, df_hum_rel_jun, df_hum_rel_jul, df_hum_rel_ago, df_hum_rel_sep, df_hum_rel_oct, df_hum_rel_nov, df_hum_rel_dic ],axis=0, ignore_index=True)
df_hum_rel

         Fecha          Magnitud      Zona       Estación  Valor
0   2021-12-01  Humedad relativa  Noroeste  Casa de Campo   72.0
1   2021-12-02  Humedad relativa  Noroeste  Casa de Campo   60.0
2   2021-12-03  Humedad relativa  Noroeste  Casa de Campo   68.0
3   2021-12-04  Humedad relativa  Noroeste  Casa de Campo   65.0
4   2021-12-05  Humedad relativa  Noroeste  Casa de Campo   73.0
..         ...               ...       ...            ...    ...
360 2021-12-27  Humedad relativa  Noroeste  Casa de Campo   88.0
361 2021-12-28  Humedad relativa  Noroeste  Casa de Campo   88.0
362 2021-12-29  Humedad relativa  Noroeste  Casa de Campo   90.0
363 2021-12-30  Humedad relativa  Noroeste  Casa de Campo   85.0
364 2021-12-31  Humedad relativa  Noroeste  Casa de Campo   81.0

[365 rows x 5 columns]

In [316]:
df_hum_rel.drop(columns=['Magnitud', 'Zona', 'Estación'], inplace=True)

In [317]:
df_hum_rel.rename(columns={'Valor': 'Humedad_Relativa'}, inplace=True)
df_hum_rel.head()

       Fecha  Humedad_Relativa
0 2021-12-01              72.0
1 2021-12-02              60.0
2 2021-12-03              68.0
3 2021-12-04              65.0
4 2021-12-05              73.0

In [318]:
df_hum_rel.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 365 entries, 0 to 364
Data columns (total 2 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Fecha             365 non-null    datetime64[ns]
 1   Humedad_Relativa  365 non-null    float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 5.8 KB

## Datasets de la velocidad del viento diaria año 2021

In [319]:
df_velc_v_ene = pd.read_csv('C:/Users/rfg2m/Documents/DATA_SCIENCE/Entregas/Proyectos/MACHINE LEARNING/Data/raw/Data_21/velocidad_viento_ene_21.csv', sep=';', encoding='utf-8')
df_velc_v_ene.head()

        Fecha              Magnitud      Zona       Estación Valor
0  2021-01-01  Velocidad del viento  Noroeste  Casa de Campo   1,8
1  2021-01-02  Velocidad del viento  Noroeste  Casa de Campo   1,5
2  2021-01-03  Velocidad del viento  Noroeste  Casa de Campo   1,6
3  2021-01-04  Velocidad del viento  Noroeste  Casa de Campo   1,5
4  2021-01-05  Velocidad del viento  Noroeste  Casa de Campo   0,9

In [320]:
df_velc_v_ene.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     31 non-null     object
 1   Magnitud  31 non-null     object
 2   Zona      31 non-null     object
 3   Estación  31 non-null     object
 4   Valor     31 non-null     object
dtypes: object(5)
memory usage: 1.3+ KB

In [321]:
df_velc_v_ene["Fecha"] = pd.to_datetime(df_velc_v_ene["Fecha"])
df_velc_v_ene.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     31 non-null     datetime64[ns]
 1   Magnitud  31 non-null     object
 2   Zona      31 non-null     object
 3   Estación  31 non-null     object
 4   Valor     31 non-null     object
dtypes: datetime64[ns](1), object(4)
memory usage: 1.3+ KB

In [322]:
df_velc_v_ene['Valor'] = df_velc_v_ene['Valor'].str.replace(',', '.') #Reemplazar comas por puntos
df_velc_v_ene['Valor'] = df_velc_v_ene['Valor'].str.replace(r'[^\d\.]', '', regex=True) #Eliminar caracteres no numéricos, exepto el punto 
df_velc_v_ene.head()

       Fecha              Magnitud      Zona       Estación Valor
0 2021-01-01  Velocidad del viento  Noroeste  Casa de Campo   1.8
1 2021-01-02  Velocidad del viento  Noroeste  Casa de Campo   1.5
2 2021-01-03  Velocidad del viento  Noroeste  Casa de Campo   1.6
3 2021-01-04  Velocidad del viento  Noroeste  Casa de Campo   1.5
4 2021-01-05  Velocidad del viento  Noroeste  Casa de Campo   0.9

In [323]:
df_velc_v_ene['Valor'] = pd.to_numeric(df_velc_v_ene['Valor'], errors='coerce')

In [324]:
df_velc_v_ene.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     31 non-null     datetime64[ns]
 1   Magnitud  31 non-null     object
 2   Zona      31 non-null     object
 3   Estación  31 non-null     object
 4   Valor     31 non-null     float64
dtypes: datetime64[ns](1), float64(1), object(3)
memory usage: 1.3+ KB

In [325]:
df_velc_v_feb = pd.read_csv('C:/Users/rfg2m/Documents/DATA_SCIENCE/Entregas/Proyectos/MACHINE LEARNING/Data/raw/Data_21/velocidad_viento_feb_21.csv', sep=';', encoding='utf-8')
df_velc_v_feb.head()

        Fecha              Magnitud      Zona       Estación Valor
0  2021-02-01  Velocidad del viento  Noroeste  Casa de Campo   3,2
1  2021-02-02  Velocidad del viento  Noroeste  Casa de Campo   2,3
2  2021-02-03  Velocidad del viento  Noroeste  Casa de Campo   1,4
3  2021-02-04  Velocidad del viento  Noroeste  Casa de Campo   1,5
4  2021-02-05  Velocidad del viento  Noroeste  Casa de Campo   1,6

In [326]:
df_velc_v_feb["Fecha"] = pd.to_datetime(df_velc_v_feb["Fecha"])
df_velc_v_feb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28 entries, 0 to 27
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     28 non-null     datetime64[ns]
 1   Magnitud  28 non-null     object
 2   Zona      28 non-null     object
 3   Estación  28 non-null     object
 4   Valor     27 non-null     object
dtypes: datetime64[ns](1), object(4)
memory usage: 1.2+ KB

In [327]:
df_velc_v_feb['Valor'] = df_velc_v_feb['Valor'].str.replace(',', '.') #Reemplazar comas por puntos
df_velc_v_feb['Valor'] = df_velc_v_feb['Valor'].str.replace(r'[^\d\.]', '', regex=True) #Eliminar caracteres no numéricos, exepto el punto 
df_velc_v_feb.head()

       Fecha              Magnitud      Zona       Estación Valor
0 2021-02-01  Velocidad del viento  Noroeste  Casa de Campo   3.2
1 2021-02-02  Velocidad del viento  Noroeste  Casa de Campo   2.3
2 2021-02-03  Velocidad del viento  Noroeste  Casa de Campo   1.4
3 2021-02-04  Velocidad del viento  Noroeste  Casa de Campo   1.5
4 2021-02-05  Velocidad del viento  Noroeste  Casa de Campo   1.6

In [328]:
df_velc_v_feb['Valor'] = pd.to_numeric(df_velc_v_feb['Valor'], errors='coerce')

In [329]:
df_nulos = df_velc_v_feb[df_velc_v_feb.isnull().any(axis=1)]
print(df_nulos)

       Fecha              Magnitud      Zona       Estación  Valor
9 2021-02-10  Velocidad del viento  Noroeste  Casa de Campo    NaN

In [330]:
df_velc_v_feb['Valor'] = df_velc_v_feb['Valor'].fillna(df_velc_v_feb['Valor'].mean())
df_velc_v_feb.head(10)

       Fecha              Magnitud      Zona       Estación     Valor
0 2021-02-01  Velocidad del viento  Noroeste  Casa de Campo  3.200000
1 2021-02-02  Velocidad del viento  Noroeste  Casa de Campo  2.300000
2 2021-02-03  Velocidad del viento  Noroeste  Casa de Campo  1.400000
3 2021-02-04  Velocidad del viento  Noroeste  Casa de Campo  1.500000
4 2021-02-05  Velocidad del viento  Noroeste  Casa de Campo  1.600000
5 2021-02-06  Velocidad del viento  Noroeste  Casa de Campo  1.400000
6 2021-02-07  Velocidad del viento  Noroeste  Casa de Campo  2.600000
7 2021-02-08  Velocidad del viento  Noroeste  Casa de Campo  3.600000
8 2021-02-09  Velocidad del viento  Noroeste  Casa de Campo  2.600000
9 2021-02-10  Velocidad del viento  Noroeste  Casa de Campo  1.755556

In [331]:
df_velc_v_feb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28 entries, 0 to 27
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     28 non-null     datetime64[ns]
 1   Magnitud  28 non-null     object
 2   Zona      28 non-null     object
 3   Estación  28 non-null     object
 4   Valor     28 non-null     float64
dtypes: datetime64[ns](1), float64(1), object(3)
memory usage: 1.2+ KB

In [332]:
df_velc_v_mar = pd.read_csv('C:/Users/rfg2m/Documents/DATA_SCIENCE/Entregas/Proyectos/MACHINE LEARNING/Data/raw/Data_21/velocidad_viento_mar_21.csv', sep=';', encoding='utf-8')
df_velc_v_mar.head()

        Fecha              Magnitud      Zona       Estación Valor
0  2021-03-01  Velocidad del viento  Noroeste  Casa de Campo   1,6
1  2021-03-02  Velocidad del viento  Noroeste  Casa de Campo   1,3
2  2021-03-03  Velocidad del viento  Noroeste  Casa de Campo   0,7
3  2021-03-04  Velocidad del viento  Noroeste  Casa de Campo   0,7
4  2021-03-05  Velocidad del viento  Noroeste  Casa de Campo   1,0

In [333]:
df_velc_v_mar.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     31 non-null     object
 1   Magnitud  31 non-null     object
 2   Zona      31 non-null     object
 3   Estación  31 non-null     object
 4   Valor     31 non-null     object
dtypes: object(5)
memory usage: 1.3+ KB

In [334]:
df_velc_v_mar["Fecha"] = pd.to_datetime(df_velc_v_mar["Fecha"])
df_velc_v_mar.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     31 non-null     datetime64[ns]
 1   Magnitud  31 non-null     object
 2   Zona      31 non-null     object
 3   Estación  31 non-null     object
 4   Valor     31 non-null     object
dtypes: datetime64[ns](1), object(4)
memory usage: 1.3+ KB

In [335]:
df_velc_v_mar['Valor'] = df_velc_v_mar['Valor'].str.replace(',', '.') #Reemplazar comas por puntos
df_velc_v_mar['Valor'] = df_velc_v_mar['Valor'].str.replace(r'[^\d\.]', '', regex=True) #Eliminar caracteres no numéricos, exepto el punto 
df_velc_v_mar.head()

       Fecha              Magnitud      Zona       Estación Valor
0 2021-03-01  Velocidad del viento  Noroeste  Casa de Campo   1.6
1 2021-03-02  Velocidad del viento  Noroeste  Casa de Campo   1.3
2 2021-03-03  Velocidad del viento  Noroeste  Casa de Campo   0.7
3 2021-03-04  Velocidad del viento  Noroeste  Casa de Campo   0.7
4 2021-03-05  Velocidad del viento  Noroeste  Casa de Campo   1.0

In [336]:
df_velc_v_mar['Valor'] = pd.to_numeric(df_velc_v_mar['Valor'], errors='coerce')

In [337]:
df_velc_v_mar.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     31 non-null     datetime64[ns]
 1   Magnitud  31 non-null     object
 2   Zona      31 non-null     object
 3   Estación  31 non-null     object
 4   Valor     31 non-null     float64
dtypes: datetime64[ns](1), float64(1), object(3)
memory usage: 1.3+ KB

In [338]:
df_velc_v_abr = pd.read_csv('C:/Users/rfg2m/Documents/DATA_SCIENCE/Entregas/Proyectos/MACHINE LEARNING/Data/raw/Data_21/velocidad_viento_abr_21.csv', sep=';', encoding='utf-8')
df_velc_v_abr.head()

        Fecha              Magnitud      Zona       Estación Valor
0  2021-04-01  Velocidad del viento  Noroeste  Casa de Campo   1,9
1  2021-04-02  Velocidad del viento  Noroeste  Casa de Campo   1,4
2  2021-04-03  Velocidad del viento  Noroeste  Casa de Campo   1,0
3  2021-04-04  Velocidad del viento  Noroeste  Casa de Campo   1,1
4  2021-04-05  Velocidad del viento  Noroeste  Casa de Campo   1,1

In [339]:
df_velc_v_abr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     30 non-null     object
 1   Magnitud  30 non-null     object
 2   Zona      30 non-null     object
 3   Estación  30 non-null     object
 4   Valor     30 non-null     object
dtypes: object(5)
memory usage: 1.3+ KB

In [340]:
df_velc_v_abr["Fecha"] = pd.to_datetime(df_velc_v_abr["Fecha"])
df_velc_v_abr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     30 non-null     datetime64[ns]
 1   Magnitud  30 non-null     object
 2   Zona      30 non-null     object
 3   Estación  30 non-null     object
 4   Valor     30 non-null     object
dtypes: datetime64[ns](1), object(4)
memory usage: 1.3+ KB

In [341]:
df_velc_v_abr['Valor'] = df_velc_v_abr['Valor'].str.replace(',', '.') #Reemplazar comas por puntos
df_velc_v_abr['Valor'] = df_velc_v_abr['Valor'].str.replace(r'[^\d\.]', '', regex=True) #Eliminar caracteres no numéricos, exepto el punto 
df_velc_v_abr.head()

       Fecha              Magnitud      Zona       Estación Valor
0 2021-04-01  Velocidad del viento  Noroeste  Casa de Campo   1.9
1 2021-04-02  Velocidad del viento  Noroeste  Casa de Campo   1.4
2 2021-04-03  Velocidad del viento  Noroeste  Casa de Campo   1.0
3 2021-04-04  Velocidad del viento  Noroeste  Casa de Campo   1.1
4 2021-04-05  Velocidad del viento  Noroeste  Casa de Campo   1.1

In [342]:
df_velc_v_abr['Valor'] = pd.to_numeric(df_velc_v_abr['Valor'], errors='coerce')

In [343]:
df_velc_v_abr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     30 non-null     datetime64[ns]
 1   Magnitud  30 non-null     object
 2   Zona      30 non-null     object
 3   Estación  30 non-null     object
 4   Valor     30 non-null     float64
dtypes: datetime64[ns](1), float64(1), object(3)
memory usage: 1.3+ KB

In [344]:
df_velc_v_may = pd.read_csv('C:/Users/rfg2m/Documents/DATA_SCIENCE/Entregas/Proyectos/MACHINE LEARNING/Data/raw/Data_21/velicidad_viento_may_21.csv', sep=';', encoding='utf-8')
df_velc_v_may.head()

        Fecha              Magnitud      Zona       Estación Valor
0  2021-05-01  Velocidad del viento  Noroeste  Casa de Campo   1,2
1  2021-05-02  Velocidad del viento  Noroeste  Casa de Campo   1,3
2  2021-05-03  Velocidad del viento  Noroeste  Casa de Campo   1,8
3  2021-05-04  Velocidad del viento  Noroeste  Casa de Campo   1,3
4  2021-05-05  Velocidad del viento  Noroeste  Casa de Campo   1,5

In [345]:
df_velc_v_may.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     31 non-null     object
 1   Magnitud  31 non-null     object
 2   Zona      31 non-null     object
 3   Estación  31 non-null     object
 4   Valor     31 non-null     object
dtypes: object(5)
memory usage: 1.3+ KB

In [346]:
df_velc_v_may["Fecha"] = pd.to_datetime(df_velc_v_may["Fecha"])
df_velc_v_may.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     31 non-null     datetime64[ns]
 1   Magnitud  31 non-null     object
 2   Zona      31 non-null     object
 3   Estación  31 non-null     object
 4   Valor     31 non-null     object
dtypes: datetime64[ns](1), object(4)
memory usage: 1.3+ KB

In [347]:
df_velc_v_may['Valor'] = df_velc_v_may['Valor'].str.replace(',', '.') #Reemplazar comas por puntos
df_velc_v_may['Valor'] = df_velc_v_may['Valor'].str.replace(r'[^\d\.]', '', regex=True) #Eliminar caracteres no numéricos, exepto el punto 
df_velc_v_may.head()

       Fecha              Magnitud      Zona       Estación Valor
0 2021-05-01  Velocidad del viento  Noroeste  Casa de Campo   1.2
1 2021-05-02  Velocidad del viento  Noroeste  Casa de Campo   1.3
2 2021-05-03  Velocidad del viento  Noroeste  Casa de Campo   1.8
3 2021-05-04  Velocidad del viento  Noroeste  Casa de Campo   1.3
4 2021-05-05  Velocidad del viento  Noroeste  Casa de Campo   1.5

In [348]:
df_velc_v_may['Valor'] = pd.to_numeric(df_velc_v_may['Valor'], errors='coerce')

In [349]:
df_velc_v_may.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     31 non-null     datetime64[ns]
 1   Magnitud  31 non-null     object
 2   Zona      31 non-null     object
 3   Estación  31 non-null     object
 4   Valor     31 non-null     float64
dtypes: datetime64[ns](1), float64(1), object(3)
memory usage: 1.3+ KB

In [350]:
df_velc_v_jun = pd.read_csv('C:/Users/rfg2m/Documents/DATA_SCIENCE/Entregas/Proyectos/MACHINE LEARNING/Data/raw/Data_21/velocidad_vineto_jun_21.csv', sep=';', encoding='utf-8')
df_velc_v_jun.head()

        Fecha              Magnitud      Zona       Estación Valor
0  2021-06-01  Velocidad del viento  Noroeste  Casa de Campo   2,2
1  2021-06-02  Velocidad del viento  Noroeste  Casa de Campo   1,5
2  2021-06-03  Velocidad del viento  Noroeste  Casa de Campo   2,2
3  2021-06-04  Velocidad del viento  Noroeste  Casa de Campo   1,9
4  2021-06-05  Velocidad del viento  Noroeste  Casa de Campo   1,8

In [351]:
df_velc_v_jun.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     30 non-null     object
 1   Magnitud  30 non-null     object
 2   Zona      30 non-null     object
 3   Estación  30 non-null     object
 4   Valor     23 non-null     object
dtypes: object(5)
memory usage: 1.3+ KB

In [352]:
df_velc_v_jun["Fecha"] = pd.to_datetime(df_velc_v_jun["Fecha"])
df_velc_v_jun.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     30 non-null     datetime64[ns]
 1   Magnitud  30 non-null     object
 2   Zona      30 non-null     object
 3   Estación  30 non-null     object
 4   Valor     23 non-null     object
dtypes: datetime64[ns](1), object(4)
memory usage: 1.3+ KB

In [353]:
df_velc_v_jun['Valor'] = df_velc_v_jun['Valor'].str.replace(',', '.') #Reemplazar comas por puntos
df_velc_v_jun['Valor'] = df_velc_v_jun['Valor'].str.replace(r'[^\d\.]', '', regex=True) #Eliminar caracteres no numéricos, exepto el punto 
df_velc_v_jun.head()

       Fecha              Magnitud      Zona       Estación Valor
0 2021-06-01  Velocidad del viento  Noroeste  Casa de Campo   2.2
1 2021-06-02  Velocidad del viento  Noroeste  Casa de Campo   1.5
2 2021-06-03  Velocidad del viento  Noroeste  Casa de Campo   2.2
3 2021-06-04  Velocidad del viento  Noroeste  Casa de Campo   1.9
4 2021-06-05  Velocidad del viento  Noroeste  Casa de Campo   1.8

In [354]:
df_velc_v_jun['Valor'] = pd.to_numeric(df_velc_v_jun['Valor'], errors='coerce')

In [355]:
df_nulos = df_velc_v_jun[df_velc_v_jun.isnull().any(axis=1)]
print(df_nulos)

        Fecha              Magnitud      Zona       Estación  Valor
23 2021-06-24  Velocidad del viento  Noroeste  Casa de Campo    NaN
24 2021-06-25  Velocidad del viento  Noroeste  Casa de Campo    NaN
25 2021-06-26  Velocidad del viento  Noroeste  Casa de Campo    NaN
26 2021-06-27  Velocidad del viento  Noroeste  Casa de Campo    NaN
27 2021-06-28  Velocidad del viento  Noroeste  Casa de Campo    NaN
28 2021-06-29  Velocidad del viento  Noroeste  Casa de Campo    NaN
29 2021-06-30  Velocidad del viento  Noroeste  Casa de Campo    NaN

In [358]:
df_velc_v_jun['Valor'] = df_velc_v_jun['Valor'].fillna(df_velc_v_jun['Valor'].mean())
df_velc_v_jun.head()

       Fecha              Magnitud      Zona       Estación  Valor
0 2021-06-01  Velocidad del viento  Noroeste  Casa de Campo    2.2
1 2021-06-02  Velocidad del viento  Noroeste  Casa de Campo    1.5
2 2021-06-03  Velocidad del viento  Noroeste  Casa de Campo    2.2
3 2021-06-04  Velocidad del viento  Noroeste  Casa de Campo    1.9
4 2021-06-05  Velocidad del viento  Noroeste  Casa de Campo    1.8

In [359]:
df_velc_v_jun.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     30 non-null     datetime64[ns]
 1   Magnitud  30 non-null     object
 2   Zona      30 non-null     object
 3   Estación  30 non-null     object
 4   Valor     30 non-null     float64
dtypes: datetime64[ns](1), float64(1), object(3)
memory usage: 1.3+ KB

In [360]:
df_velc_v_jul = pd.read_csv('C:/Users/rfg2m/Documents/DATA_SCIENCE/Entregas/Proyectos/MACHINE LEARNING/Data/raw/Data_21/velocidad_viento_jul_21.csv', sep=';', encoding='utf-8')
df_velc_v_jul.head()

        Fecha              Magnitud      Zona       Estación Valor
0  2021-07-01  Velocidad del viento  Noroeste  Casa de Campo   3,7
1  2021-07-02  Velocidad del viento  Noroeste  Casa de Campo   2,5
2  2021-07-03  Velocidad del viento  Noroeste  Casa de Campo   2,8
3  2021-07-04  Velocidad del viento  Noroeste  Casa de Campo   2,5
4  2021-07-05  Velocidad del viento  Noroeste  Casa de Campo   3,2

In [361]:
df_velc_v_jul.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     31 non-null     object
 1   Magnitud  31 non-null     object
 2   Zona      31 non-null     object
 3   Estación  31 non-null     object
 4   Valor     30 non-null     object
dtypes: object(5)
memory usage: 1.3+ KB

In [362]:
df_velc_v_jul["Fecha"] = pd.to_datetime(df_velc_v_jul["Fecha"])
df_velc_v_jul.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     31 non-null     datetime64[ns]
 1   Magnitud  31 non-null     object
 2   Zona      31 non-null     object
 3   Estación  31 non-null     object
 4   Valor     30 non-null     object
dtypes: datetime64[ns](1), object(4)
memory usage: 1.3+ KB

In [363]:
df_velc_v_jul['Valor'] = df_velc_v_jul['Valor'].str.replace(',', '.') #Reemplazar comas por puntos
df_velc_v_jul['Valor'] = df_velc_v_jul['Valor'].str.replace(r'[^\d\.]', '', regex=True) #Eliminar caracteres no numéricos, exepto el punto 
df_velc_v_jul.head()

       Fecha              Magnitud      Zona       Estación Valor
0 2021-07-01  Velocidad del viento  Noroeste  Casa de Campo   3.7
1 2021-07-02  Velocidad del viento  Noroeste  Casa de Campo   2.5
2 2021-07-03  Velocidad del viento  Noroeste  Casa de Campo   2.8
3 2021-07-04  Velocidad del viento  Noroeste  Casa de Campo   2.5
4 2021-07-05  Velocidad del viento  Noroeste  Casa de Campo   3.2

In [364]:
df_velc_v_jul['Valor'] = pd.to_numeric(df_velc_v_jul['Valor'], errors='coerce')

In [365]:
df_nulos = df_velc_v_jul[df_velc_v_jul.isnull().any(axis=1)]
print(df_nulos)

        Fecha              Magnitud      Zona       Estación  Valor
10 2021-07-11  Velocidad del viento  Noroeste  Casa de Campo    NaN

In [366]:
df_velc_v_jul['Valor'] = df_velc_v_jul['Valor'].fillna(df_velc_v_jul['Valor'].mean())
df_velc_v_jul.head(11)

        Fecha              Magnitud      Zona       Estación     Valor
0  2021-07-01  Velocidad del viento  Noroeste  Casa de Campo  3.700000
1  2021-07-02  Velocidad del viento  Noroeste  Casa de Campo  2.500000
2  2021-07-03  Velocidad del viento  Noroeste  Casa de Campo  2.800000
3  2021-07-04  Velocidad del viento  Noroeste  Casa de Campo  2.500000
4  2021-07-05  Velocidad del viento  Noroeste  Casa de Campo  3.200000
5  2021-07-06  Velocidad del viento  Noroeste  Casa de Campo  2.000000
6  2021-07-07  Velocidad del viento  Noroeste  Casa de Campo  1.800000
7  2021-07-08  Velocidad del viento  Noroeste  Casa de Campo  1.500000
8  2021-07-09  Velocidad del viento  Noroeste  Casa de Campo  1.500000
9  2021-07-10  Velocidad del viento  Noroeste  Casa de Campo  1.700000
10 2021-07-11  Velocidad del viento  Noroeste  Casa de Campo  2.056667

In [367]:
df_velc_v_jul.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     31 non-null     datetime64[ns]
 1   Magnitud  31 non-null     object
 2   Zona      31 non-null     object
 3   Estación  31 non-null     object
 4   Valor     31 non-null     float64
dtypes: datetime64[ns](1), float64(1), object(3)
memory usage: 1.3+ KB

In [368]:
df_velc_v_ago = pd.read_csv('C:/Users/rfg2m/Documents/DATA_SCIENCE/Entregas/Proyectos/MACHINE LEARNING/Data/raw/Data_21/velocidad_viento_ago_21.csv', sep=';', encoding='utf-8')
df_velc_v_ago.head()

        Fecha              Magnitud      Zona       Estación Valor
0  2021-08-01  Velocidad del viento  Noroeste  Casa de Campo   1,6
1  2021-08-02  Velocidad del viento  Noroeste  Casa de Campo   1,5
2  2021-08-03  Velocidad del viento  Noroeste  Casa de Campo   2,2
3  2021-08-04  Velocidad del viento  Noroeste  Casa de Campo   2,3
4  2021-08-05  Velocidad del viento  Noroeste  Casa de Campo   2,0

In [369]:
df_velc_v_ago.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     31 non-null     object
 1   Magnitud  31 non-null     object
 2   Zona      31 non-null     object
 3   Estación  31 non-null     object
 4   Valor     31 non-null     object
dtypes: object(5)
memory usage: 1.3+ KB

In [370]:
df_velc_v_ago["Fecha"] = pd.to_datetime(df_velc_v_ago["Fecha"])
df_velc_v_ago.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     31 non-null     datetime64[ns]
 1   Magnitud  31 non-null     object
 2   Zona      31 non-null     object
 3   Estación  31 non-null     object
 4   Valor     31 non-null     object
dtypes: datetime64[ns](1), object(4)
memory usage: 1.3+ KB

In [371]:
df_velc_v_ago['Valor'] = df_velc_v_ago['Valor'].str.replace(',', '.') #Reemplazar comas por puntos
df_velc_v_ago['Valor'] = df_velc_v_ago['Valor'].str.replace(r'[^\d\.]', '', regex=True) #Eliminar caracteres no numéricos, exepto el punto 
df_velc_v_ago.head()

       Fecha              Magnitud      Zona       Estación Valor
0 2021-08-01  Velocidad del viento  Noroeste  Casa de Campo   1.6
1 2021-08-02  Velocidad del viento  Noroeste  Casa de Campo   1.5
2 2021-08-03  Velocidad del viento  Noroeste  Casa de Campo   2.2
3 2021-08-04  Velocidad del viento  Noroeste  Casa de Campo   2.3
4 2021-08-05  Velocidad del viento  Noroeste  Casa de Campo   2.0

In [372]:
df_velc_v_ago['Valor'] = pd.to_numeric(df_velc_v_ago['Valor'], errors='coerce')

In [373]:
df_velc_v_ago.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     31 non-null     datetime64[ns]
 1   Magnitud  31 non-null     object
 2   Zona      31 non-null     object
 3   Estación  31 non-null     object
 4   Valor     31 non-null     float64
dtypes: datetime64[ns](1), float64(1), object(3)
memory usage: 1.3+ KB

In [374]:
df_velc_v_sep = pd.read_csv('C:/Users/rfg2m/Documents/DATA_SCIENCE/Entregas/Proyectos/MACHINE LEARNING/Data/raw/Data_21/velocidad_viento_sep_21.csv', sep=';', encoding='utf-8')
df_velc_v_sep.head()

        Fecha              Magnitud      Zona       Estación Valor
0  2021-09-01  Velocidad del viento  Noroeste  Casa de Campo   1,6
1  2021-09-02  Velocidad del viento  Noroeste  Casa de Campo   1,2
2  2021-09-03  Velocidad del viento  Noroeste  Casa de Campo   1,3
3  2021-09-04  Velocidad del viento  Noroeste  Casa de Campo   1,2
4  2021-09-05  Velocidad del viento  Noroeste  Casa de Campo   1,2

In [375]:
df_velc_v_sep.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     30 non-null     object
 1   Magnitud  30 non-null     object
 2   Zona      30 non-null     object
 3   Estación  30 non-null     object
 4   Valor     30 non-null     object
dtypes: object(5)
memory usage: 1.3+ KB

In [376]:
df_velc_v_sep["Fecha"] = pd.to_datetime(df_velc_v_sep["Fecha"])
df_velc_v_sep.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     30 non-null     datetime64[ns]
 1   Magnitud  30 non-null     object
 2   Zona      30 non-null     object
 3   Estación  30 non-null     object
 4   Valor     30 non-null     object
dtypes: datetime64[ns](1), object(4)
memory usage: 1.3+ KB

In [377]:
df_velc_v_sep['Valor'] = df_velc_v_sep['Valor'].str.replace(',', '.') #Reemplazar comas por puntos
df_velc_v_sep['Valor'] = df_velc_v_sep['Valor'].str.replace(r'[^\d\.]', '', regex=True) #Eliminar caracteres no numéricos, exepto el punto 
df_velc_v_sep.head()

       Fecha              Magnitud      Zona       Estación Valor
0 2021-09-01  Velocidad del viento  Noroeste  Casa de Campo   1.6
1 2021-09-02  Velocidad del viento  Noroeste  Casa de Campo   1.2
2 2021-09-03  Velocidad del viento  Noroeste  Casa de Campo   1.3
3 2021-09-04  Velocidad del viento  Noroeste  Casa de Campo   1.2
4 2021-09-05  Velocidad del viento  Noroeste  Casa de Campo   1.2

In [378]:
df_velc_v_sep['Valor'] = pd.to_numeric(df_velc_v_sep['Valor'], errors='coerce')

In [379]:
df_velc_v_sep.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     30 non-null     datetime64[ns]
 1   Magnitud  30 non-null     object
 2   Zona      30 non-null     object
 3   Estación  30 non-null     object
 4   Valor     30 non-null     float64
dtypes: datetime64[ns](1), float64(1), object(3)
memory usage: 1.3+ KB

In [380]:
df_velc_v_oct = pd.read_csv('C:/Users/rfg2m/Documents/DATA_SCIENCE/Entregas/Proyectos/MACHINE LEARNING/Data/raw/Data_21/velocidad_viento_oct_21.csv', sep=';', encoding='utf-8')
df_velc_v_oct.head()

        Fecha              Magnitud      Zona       Estación Valor
0  2021-10-01  Velocidad del viento  Noroeste  Casa de Campo   0,9
1  2021-10-02  Velocidad del viento  Noroeste  Casa de Campo   1,7
2  2021-10-03  Velocidad del viento  Noroeste  Casa de Campo   2,5
3  2021-10-04  Velocidad del viento  Noroeste  Casa de Campo   1,3
4  2021-10-05  Velocidad del viento  Noroeste  Casa de Campo   1,6

In [381]:
df_velc_v_oct.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     31 non-null     object
 1   Magnitud  31 non-null     object
 2   Zona      31 non-null     object
 3   Estación  31 non-null     object
 4   Valor     31 non-null     object
dtypes: object(5)
memory usage: 1.3+ KB

In [382]:
df_velc_v_oct["Fecha"] = pd.to_datetime(df_velc_v_oct["Fecha"])
df_velc_v_oct.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     31 non-null     datetime64[ns]
 1   Magnitud  31 non-null     object
 2   Zona      31 non-null     object
 3   Estación  31 non-null     object
 4   Valor     31 non-null     object
dtypes: datetime64[ns](1), object(4)
memory usage: 1.3+ KB

In [383]:
df_velc_v_oct['Valor'] = df_velc_v_oct['Valor'].str.replace(',', '.') #Reemplazar comas por puntos
df_velc_v_oct['Valor'] = df_velc_v_oct['Valor'].str.replace(r'[^\d\.]', '', regex=True) #Eliminar caracteres no numéricos, exepto el punto 
df_velc_v_oct.head()

       Fecha              Magnitud      Zona       Estación Valor
0 2021-10-01  Velocidad del viento  Noroeste  Casa de Campo   0.9
1 2021-10-02  Velocidad del viento  Noroeste  Casa de Campo   1.7
2 2021-10-03  Velocidad del viento  Noroeste  Casa de Campo   2.5
3 2021-10-04  Velocidad del viento  Noroeste  Casa de Campo   1.3
4 2021-10-05  Velocidad del viento  Noroeste  Casa de Campo   1.6

In [384]:
df_velc_v_oct['Valor'] = pd.to_numeric(df_velc_v_oct['Valor'], errors='coerce')

In [385]:
df_velc_v_oct.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     31 non-null     datetime64[ns]
 1   Magnitud  31 non-null     object
 2   Zona      31 non-null     object
 3   Estación  31 non-null     object
 4   Valor     31 non-null     float64
dtypes: datetime64[ns](1), float64(1), object(3)
memory usage: 1.3+ KB

In [386]:
df_velc_v_nov = pd.read_csv('C:/Users/rfg2m/Documents/DATA_SCIENCE/Entregas/Proyectos/MACHINE LEARNING/Data/raw/Data_21/velocidad_viento_nov_21.csv', sep=';', encoding='utf-8')
df_velc_v_nov.head()

        Fecha              Magnitud      Zona       Estación Valor
0  2021-11-01  Velocidad del viento  Noroeste  Casa de Campo   1,8
1  2021-11-02  Velocidad del viento  Noroeste  Casa de Campo   2,6
2  2021-11-03  Velocidad del viento  Noroeste  Casa de Campo   2,2
3  2021-11-04  Velocidad del viento  Noroeste  Casa de Campo   0,9
4  2021-11-05  Velocidad del viento  Noroeste  Casa de Campo   1,6

In [387]:
df_velc_v_nov.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     30 non-null     object
 1   Magnitud  30 non-null     object
 2   Zona      30 non-null     object
 3   Estación  30 non-null     object
 4   Valor     30 non-null     object
dtypes: object(5)
memory usage: 1.3+ KB

In [388]:
df_velc_v_nov["Fecha"] = pd.to_datetime(df_velc_v_nov["Fecha"])
df_velc_v_nov.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     30 non-null     datetime64[ns]
 1   Magnitud  30 non-null     object
 2   Zona      30 non-null     object
 3   Estación  30 non-null     object
 4   Valor     30 non-null     object
dtypes: datetime64[ns](1), object(4)
memory usage: 1.3+ KB

In [389]:
df_velc_v_nov['Valor'] = df_velc_v_nov['Valor'].str.replace(',', '.') #Reemplazar comas por puntos
df_velc_v_nov['Valor'] = df_velc_v_nov['Valor'].str.replace(r'[^\d\.]', '', regex=True) #Eliminar caracteres no numéricos, exepto el punto 
df_velc_v_nov.head()

       Fecha              Magnitud      Zona       Estación Valor
0 2021-11-01  Velocidad del viento  Noroeste  Casa de Campo   1.8
1 2021-11-02  Velocidad del viento  Noroeste  Casa de Campo   2.6
2 2021-11-03  Velocidad del viento  Noroeste  Casa de Campo   2.2
3 2021-11-04  Velocidad del viento  Noroeste  Casa de Campo   0.9
4 2021-11-05  Velocidad del viento  Noroeste  Casa de Campo   1.6

In [390]:
df_velc_v_nov['Valor'] = pd.to_numeric(df_velc_v_nov['Valor'], errors='coerce')

In [391]:
df_velc_v_nov.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     30 non-null     datetime64[ns]
 1   Magnitud  30 non-null     object
 2   Zona      30 non-null     object
 3   Estación  30 non-null     object
 4   Valor     30 non-null     float64
dtypes: datetime64[ns](1), float64(1), object(3)
memory usage: 1.3+ KB

In [392]:
df_velc_v_dic = pd.read_csv('C:/Users/rfg2m/Documents/DATA_SCIENCE/Entregas/Proyectos/MACHINE LEARNING/Data/raw/Data_21/velocidad_viento_dic_21.csv', sep=';', encoding='utf-8')
df_velc_v_dic.head()

        Fecha              Magnitud      Zona       Estación Valor
0  2021-12-01  Velocidad del viento  Noroeste  Casa de Campo   1,6
1  2021-12-02  Velocidad del viento  Noroeste  Casa de Campo   1,9
2  2021-12-03  Velocidad del viento  Noroeste  Casa de Campo   1,2
3  2021-12-04  Velocidad del viento  Noroeste  Casa de Campo   1,8
4  2021-12-05  Velocidad del viento  Noroeste  Casa de Campo   2,6

In [393]:
df_velc_v_dic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     31 non-null     object
 1   Magnitud  31 non-null     object
 2   Zona      31 non-null     object
 3   Estación  31 non-null     object
 4   Valor     31 non-null     object
dtypes: object(5)
memory usage: 1.3+ KB

In [394]:
df_velc_v_dic["Fecha"] = pd.to_datetime(df_velc_v_dic["Fecha"])
df_velc_v_dic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     31 non-null     datetime64[ns]
 1   Magnitud  31 non-null     object
 2   Zona      31 non-null     object
 3   Estación  31 non-null     object
 4   Valor     31 non-null     object
dtypes: datetime64[ns](1), object(4)
memory usage: 1.3+ KB

In [395]:
df_velc_v_dic['Valor'] = df_velc_v_dic['Valor'].str.replace(',', '.') #Reemplazar comas por puntos
df_velc_v_dic['Valor'] = df_velc_v_dic['Valor'].str.replace(r'[^\d\.]', '', regex=True) #Eliminar caracteres no numéricos, exepto el punto 
df_velc_v_dic.head()

       Fecha              Magnitud      Zona       Estación Valor
0 2021-12-01  Velocidad del viento  Noroeste  Casa de Campo   1.6
1 2021-12-02  Velocidad del viento  Noroeste  Casa de Campo   1.9
2 2021-12-03  Velocidad del viento  Noroeste  Casa de Campo   1.2
3 2021-12-04  Velocidad del viento  Noroeste  Casa de Campo   1.8
4 2021-12-05  Velocidad del viento  Noroeste  Casa de Campo   2.6

In [396]:
df_velc_v_dic['Valor'] = pd.to_numeric(df_velc_v_dic['Valor'], errors='coerce')

In [397]:
df_velc_v_dic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     31 non-null     datetime64[ns]
 1   Magnitud  31 non-null     object
 2   Zona      31 non-null     object
 3   Estación  31 non-null     object
 4   Valor     31 non-null     float64
dtypes: datetime64[ns](1), float64(1), object(3)
memory usage: 1.3+ KB

In [398]:
df_vel_vto = pd.concat([df_velc_v_ene, df_velc_v_feb, df_velc_v_mar, df_velc_v_abr, df_velc_v_may, df_velc_v_jun, df_velc_v_jul, df_velc_v_ago, df_velc_v_sep, df_velc_v_oct, df_velc_v_nov, df_velc_v_dic ],axis=0, ignore_index=True)
df_vel_vto

         Fecha              Magnitud      Zona       Estación  Valor
0   2021-01-01  Velocidad del viento  Noroeste  Casa de Campo    1.8
1   2021-01-02  Velocidad del viento  Noroeste  Casa de Campo    1.5
2   2021-01-03  Velocidad del viento  Noroeste  Casa de Campo    1.6
3   2021-01-04  Velocidad del viento  Noroeste  Casa de Campo    1.5
4   2021-01-05  Velocidad del viento  Noroeste  Casa de Campo    0.9
..         ...                   ...       ...            ...    ...
360 2021-12-27  Velocidad del viento  Noroeste  Casa de Campo    3.9
361 2021-12-28  Velocidad del viento  Noroeste  Casa de Campo    2.5
362 2021-12-29  Velocidad del viento  Noroeste  Casa de Campo    0.7
363 2021-12-30  Velocidad del viento  Noroeste  Casa de Campo    0.6
364 2021-12-31  Velocidad del viento  Noroeste  Casa de Campo    0.7

[365 rows x 5 columns]

In [399]:
df_vel_vto.drop(columns=['Magnitud', 'Zona', 'Estación'], inplace=True)

In [400]:
df_vel_vto.rename(columns={'Valor': 'Velocidad_Viento'}, inplace=True)
df_vel_vto.head()

       Fecha  Velocidad_Viento
0 2021-01-01               1.8
1 2021-01-02               1.5
2 2021-01-03               1.6
3 2021-01-04               1.5
4 2021-01-05               0.9

In [401]:
df_vel_vto.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 365 entries, 0 to 364
Data columns (total 2 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Fecha             365 non-null    datetime64[ns]
 1   Velocidad_Viento  365 non-null    float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 5.8 KB

In [402]:
dataframes = [df_temp, df_precp, df_hum_rel, df_radia_solar, df_vel_vto]

In [403]:
df_clima_21 = reduce(lambda left, right: pd.merge(left, right, on='Fecha', how='inner'), dataframes)
df_clima_21

,Fecha,Temperatura_Media,Precipitaciones,Humedad_Relativa,Radiación_Solar,Velocidad_Viento
0,2021-02-01,11.3,0.00,73.0,132.0,3.2
1,2021-02-02,9.8,0.00,91.0,49.0,2.3
2,2021-02-03,10.0,0.00,88.0,49.0,1.4
3,2021-02-04,10.7,0.00,85.0,75.0,1.5
4,2021-02-05,11.7,0.13,75.0,124.0,1.6
...,...,...,...,...,...,...
360,2021-12-29,8.7,0.00,90.0,81.0,0.7
361,2021-12-30,8.1,0.00,79.0,99.0,0.6
362,2021-12-30,8.1,0.00,85.0,99.0,0.6
363,2021-12-31,8.3,0.00,77.0,101.0,0.7
364,2021-12-31,8.3,0.00,81.0,101.0,0.7

In [404]:
df_clima_21.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 365 entries, 0 to 364
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Fecha              365 non-null    datetime64[ns]
 1   Temperatura_Media  365 non-null    float64
 2   Precipitaciones    365 non-null    float64
 3   Humedad_Relativa   365 non-null    float64
 4   Radiación_Solar    365 non-null    float64
 5   Velocidad_Viento   365 non-null    float64
dtypes: datetime64[ns](1), float64(5)
memory usage: 17.2 KB

In [406]:
df_clima_21.tail()

,Fecha,Temperatura_Media,Precipitaciones,Humedad_Relativa,Radiación_Solar,Velocidad_Viento
360,2021-12-29,8.7,0.0,90.0,81.0,0.7
361,2021-12-30,8.1,0.0,79.0,99.0,0.6
362,2021-12-30,8.1,0.0,85.0,99.0,0.6
363,2021-12-31,8.3,0.0,77.0,101.0,0.7
364,2021-12-31,8.3,0.0,81.0,101.0,0.7

In [407]:
df_clima_21.duplicated().sum()

np.int64(1)

In [408]:
df_clima_21[df_clima_21.duplicated(keep=False)]

,Fecha,Temperatura_Media,Precipitaciones,Humedad_Relativa,Radiación_Solar,Velocidad_Viento
347,2021-12-23,8.3,0.1,94.0,50.0,1.0
348,2021-12-23,8.3,0.1,94.0,50.0,1.0

In [409]:
df_clima_21.drop_duplicates()

,Fecha,Temperatura_Media,Precipitaciones,Humedad_Relativa,Radiación_Solar,Velocidad_Viento
0,2021-02-01,11.3,0.00,73.0,132.0,3.2
1,2021-02-02,9.8,0.00,91.0,49.0,2.3
2,2021-02-03,10.0,0.00,88.0,49.0,1.4
3,2021-02-04,10.7,0.00,85.0,75.0,1.5
4,2021-02-05,11.7,0.13,75.0,124.0,1.6
...,...,...,...,...,...,...
360,2021-12-29,8.7,0.00,90.0,81.0,0.7
361,2021-12-30,8.1,0.00,79.0,99.0,0.6
362,2021-12-30,8.1,0.00,85.0,99.0,0.6
363,2021-12-31,8.3,0.00,77.0,101.0,0.7
364,2021-12-31,8.3,0.00,81.0,101.0,0.7

In [410]:
df_clima_21.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 365 entries, 0 to 364
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Fecha              365 non-null    datetime64[ns]
 1   Temperatura_Media  365 non-null    float64
 2   Precipitaciones    365 non-null    float64
 3   Humedad_Relativa   365 non-null    float64
 4   Radiación_Solar    365 non-null    float64
 5   Velocidad_Viento   365 non-null    float64
dtypes: datetime64[ns](1), float64(5)
memory usage: 17.2 KB

In [411]:
df_clima_21.describe()

,Fecha,Temperatura_Media,Precipitaciones,Humedad_Relativa,Radiación_Solar,Velocidad_Viento
count,365,365.000000,365.000000,365.000000,365.000000,365.000000
mean,2021-07-30 08:48:39.452054784,15.352146,0.041380,60.524924,190.199645,1.675912
min,2021-02-01 00:00:00,3.900000,0.000000,17.000000,1.000000,0.600000
25%,2021-05-03 00:00:00,9.200000,0.000000,46.000000,103.000000,1.100000
50%,2021-08-02 00:00:00,13.600000,0.000000,61.000000,183.000000,1.600000
75%,2021-11-01 00:00:00,21.500000,0.000000,74.000000,274.260870,2.056522
max,2021-12-31 00:00:00,32.700000,1.220000,100.000000,547.000000,3.900000
std,NaN,7.037119,0.137091,18.405526,100.503481,0.720993

In [413]:
# Guardar dataframe en csv
df_clima_21.to_csv('archivo21.csv', index=False)